footer {
    position: relative;
    top: 13vh;
    width: 100vw;
    height: 13vh;
    background-color: rgb(75, 74, 74);
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    /*Sets position of footer elements*/
    #privPol {
        width: 50vw;
        grid-row: 2;
        bottom: 1vh;
        position: relative;
        left: 5vw;
    }

    #cpyRit {
        font-size: 0.8em;
        grid-row: 3;
        width: 80vw;
        position: relative;
        left: 6vw;
    }

    /*Sets top of page button*/
    .topBtn {
        position: relative;
        left: 65vw;
        top: 5vh;
        width: 35vw;

        .backTopBtn {
            text-decoration: none;
            border: 3px #dadada solid;
            padding: 8px;
        }
    }

    /*adjusts back-to-top button size to avoid overflow on very narrow screens */
    @media screen and (max-width: 350px) {
        .topBtn {
            left: 70vw;
    
            .backTopBtn {
                font-size: 0.6em;
                padding: 4px;
            }
        }
    }
}