footer {
    position: relative;
    top: 13vh;
    width: 100vw;
    height: 13vh;
    background-color: rgb(75, 74, 74);
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    #privPol, #cpyRit {
        position: relative;
        left: 5vw;
    }

    #privPol {
        width: 50vw;
        grid-row: 2;
        
    }

    #cpyRit {
        font-size: 0.9em;
        grid-row: 3;
        width: 80vw;
    }

    .topBtn {
        position: relative;
        left: 70vw;
        top: 5vh;

        .backTopBtn {
            text-decoration: none;
            border: 3px #dadada solid;
            padding: 10px;
        }
    }
}