@media only screen and (min-width: 1100px) {

    /***********CSS for Header***********/
    #topNav{
        grid-template-columns: 2fr 4fr 5fr;
        
        /*hides mobile+tablet checkbox*/
        #toggle, #hamburger {
            display: none;
        }

        #logoLink {
            position: relative;
            right: 5vw;

            #logo {
                width: 100px;
            }
        }

        /*Sets nav bar navigation buttons*/
        #headerNavBtns {
            display: inline-block;
            overflow: hidden;
            grid-column: 3 / 10;
            align-self: center;
            justify-self: center;
            /*Allows visibility of entire button during animation*/
            overflow: visible;

            .navBtns {
                margin-left: 1vw;
                text-align: center;
                border: 2px #dadada solid;
                height: fit-content;

                &:hover {
                    background-color: rgb(71, 71, 71);
                }
            }

            a {
                text-decoration: none;
                font-size: 1.6em;
                /*Transform used to not affect overal layout of sibling elements*/
                transform: scale(1);
                transition: all 0.4s ease-out;

                &:hover {
                    transform: scale(1.1);
                }
            }

            #homeNavBtn, #menuNavBtn {
                padding: 2vh 3vw 2vh 3vw;
                display: inline-block;
                
            }

            #aboutNavBtn {
                padding: 2vh 3vw 2vh 3vw;
                display: inline-block;
            }

            /*fixes button sizing to avoid overflow between 1100 and 1200px screen*/
            @media only screen and (max-width: 1200px) {
                #homeNavBtn, #menuNavBtn {
                    padding: 2vh 2vw 2vh 2vw;
                }
    
                #aboutNavBtn {
                    padding: 2vh 2vw 2vh 2vw;
                }
            }
        }

        /*sets size and location of new social icons*/
        #topNavSocial {
            display: inline-block;
            grid-column: 2;
            align-self: center;

            a img{
                margin-left: 40px;
                width: 50px;
                /*Transform used to not affect overal layout of sibling elements*/
                transform: scale(1);
                transition: all 0.3s ease-out;
                

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    #phoneBox {
         /*Makes phone number none clickable*/
        .phoneLink {
            pointer-events: none;
        }
    }

    /*Global CSS for all back to top buttons on site*/
        
    /*hover effect for all back to top buttons on menu page*/
    .topBtn {

        .backTopBtn:hover{
            background-color: rgb(41, 41, 41);
        }

        /*background needs to be lighter here due to div background color*/
        #foodTop:hover {
            background-color: rgb(59, 59, 59);
        }
    }

    /***********CSS for index.html***********/

    #mainHomePage {

        /*Re organizes grid to allow space for intro video*/
        #mainMenu {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 3fr 1.5fr;

            #socialIcons {
                display: none;
            }

            h1 {
                grid-row: 1;
                grid-column: 2;
                font-size: 5.5em;
            }
        
            p {
                grid-row: 2;
                grid-column: 1 / 3;
                font-size: 2.8em;
                margin-left: 30vw;
            }

            #mainVidContainer {
                display: inline-block;
                grid-column: 1;
                grid-row: 3 / 5;
                justify-self: center;
                align-self: center;
                /*used to center items*/
                display: grid;

                #mainVidIntro {
                    font-weight: normal;
                    font-size: 1.8em;
                    justify-self: center;
                    padding-bottom: 3vh;
                }

                #pizzaVid {
                    width: 50vw;
                    height: 315px;
                    max-width: 560px;
                }
            }

            /*allows fonts to flow into colum 1 to avoid grid height overflow
            issues between 1100 and 1200px screen due to increaded font*/
            @media only screen and (max-width: 1200px) {
               
                h1, p {
                    grid-column: 1 / 3;
                    justify-self: end;
                }
            }

            /*re sizes buttons to keep similar style as mobile and tablet once grid was reset*/
            #mainBtnsList {
                grid-row: 3 / 5;
                grid-column: 2;

                #mainLiHrs {
                    margin-left: 20vw;
                }
        
                #mainLiRes {
                    margin-left: 25vw;
                }
        
                #mainLiMen {
                    margin-left: 30vw;
                }
        
                #mainLiLoc {
                    margin-left: 35vw;
                }

                li:hover {
                    transform: scale(1.05);
                    transition: all 0.3s ease-in;

                    a:hover {
                        transform: scale(1.1);
                        transition: all 0.3s ease-in;
                    }    
                }
            }    
        }
    }

    /**********CSS for menu.html**********/
    #mainMenuPage {

        #mainMenu {
            grid-template-rows: 1fr 1fr 4fr;
            grid-template-columns: 1fr 1fr;

            #socialIcons {
                display: none;
            }

            h1 {
                grid-row: 1;
                grid-column: 2;
                font-size: 5.5em;
                right: 16vw;
            }

            p {
                grid-row: 2;
                grid-column: 1 / 3;
                align-self: center;
                font-size: 2.8em;
                right: 16vw;
            }

            #mainBtnsList {
                grid-row: 3 / 4;
                grid-column: 2;
                width: 50vw;
                padding-bottom: 5vh;

                li:hover {
                    transform: scale(1.05);
                    transition: all 0.3s ease-in;

                    a:hover {
                        transform: scale(1.1);
                        transition: all 0.3s ease-in;
                    }    
                }

                #mainLiDrinks {
                    margin-left: 25vw;
                    right: 16vw;
                }
        
                #mainLiFood {
                    margin-left: 30vw;
                    right: 16vw;
                }
        
                #mainLiDesserts {
                    margin-left: 35vw;
                    right: 16vw;
                }
            }

            #foodIntro {
                display: inline-block;
                grid-column: 1;
                grid-row: 3;
                font-size: 1.6em;
                text-align: start;
                position: relative;
                right: 10vw;
                bottom: 5vh;
                border-left: 8px #f81313b2 solid;
                border-radius: 50px;
                padding-left: 3vw;
                background-color: rgba(0, 0, 0, 0.39);
            }
        }

        section {
            h1 {
                font-size: 5em;
            }

            h3 {
                font-size: 1.9em;
            }

            p {
                font-size: 1.7em;
            }

        }

        #drinks {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.6fr 1fr 0.1fr;

            /*repositions the anchor tag for navigation due to grid*/
            #anchorDrink {
                grid-column: 1;
                grid-row: 1;
            }

            .menuItemsImg {
                width: 240px;
            }

            #cocktails {
                grid-column: 1;
                grid-row: 1;

                p {
                    position: relative;
                    left: 1vw; 
                }

                #cocktailImg {
                    display: none;
                }

                #landscapeDrinkImg {
                    display: block;
                    height: 10vw;
                    width: 190%;
                    margin: 4vh 0 0 2.5vw;
                    border-radius: 12px;
                    object-fit: cover;
                }
            }

            #wineBeer {
                grid-column: 1 / 3;
                grid-row: 2;

                #vinoTag{
                    padding-top: 2vh;
                }
                
                p {
                    position: relative;
                    left: 2vw; 
                }

                #wineImg {
                    display: none;
                }

                #beerImg {
                    display: block;
                    float: right;
                    width: 55vw;
                    height: 30vh;
                    object-fit: cover;
                }
            }

            #nonAlc {
                grid-column: 2;
                grid-row: 1;

                #teaImg {
                    display: none;
                }
            }

            /*Resets position of back to top button in drinks list*/   
            .topBtn {
                grid-column: 2;
                grid-row: 3;
                left: 23vw;
                justify-self: end;
                align-self: center;
            }
        }

        #food {
            /*removes unnecessary white space at bottom*/
            padding-bottom: 0;

            /*creates some spacing between main food divs*/
            #appies, #pizza, #pasta, #entrees {
                padding-bottom: 7vh;
            }

            #appieImg{
                position: relative;
                bottom: 10vh;
                width: 30vw;
                height: 50vh;
                object-fit: cover;
            }

            #pizzaMenuImgOne {
                width: 30vw;
            }

            #pizzaMenuImgTwo {
                width: 23vw;
                height: 50vh;
                object-fit: cover;
            }

            #pastaMenuImg {
                width: 25vw;
            }

            #entreeImg {
                width: 35vw;
                height: 30vh;
                object-fit: cover;
            }

            #foodTop {
                position: relative;
                left: 21vw;
                bottom: 5vh;
            }
        }

        #desserts {
            padding: 0;

            .menuItemsImg {
                width: 20vw;
                height: 40vh;
                object-fit: cover;
            }

            #dessertsTop {
                position: relative;
                left: 21vw;
                bottom: 6vh;
            }
        }
    }

    /**********CSS for about.html**********/

    #mainAbout {
        /*keyframes need to be adjusted down to left: -500% at 100% animation. 
        Since we now want 4 images on the screen at once images will drop from 90vw
        to 20vw. This means we can cut the total width of the carousel container down 
        by 4x. from 2000% to 500%. but we need to add the 3 extra starting images to compelte
        a smooth loop. Total width for container needs to be 800%. There will only need 
        to be 5 transitions in the keyframes instead of 20 originally*/
        @keyframes slider {
            0% {
                left: 0;
            }
            10% {
                left: 0;
            }
            20% {
                left: -100%
            }
            30% {
                left: -100%
            }        
            40% {
                left: -200%
            }
            50% {
                left: -200%
            }
            60% {
                left: -300%
            }
            70% {
                left: -300%
            }
            80% {
                left: -400%
            }
            90% {
                left: -400%
            }
            /*helps smooth final snap to complete smooth looping*/
            98% {
                left: -500%
            }
            100% {
                left: -500%
            }

        }

        /*Carousel positioning*/
        #imgCarousel {
            width: 90vw;
            left: 5vw;

            /*resets container width as images are smaller, changes animation speed to hold on page for longer*/
            #selfCont {
                width: 800%;
                animation: 50s slider infinite;

                /*Sets image size and squares all images*/
                img {
                    height: 20vw;
                    width: 20vw;
                    /*creates gap in images without breaking viewable area*/
                    margin-right: 2.6vw;
                }

                .deskCaruImg {
                    display: inline-block;
                }
            }
        }

        #aboutUsArticle {

            #chefContainer {
                width: 100%;
                height: 60vh;
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: 50% 50%;
                gap: 5vh 5vw;
                padding: 0 0 5vh 0;
        
                .chefPizza {
                    width: 30vw;
                    border-radius: 40px;
                }
        
                .pizImgLeft {
                    justify-self: center;
                }
        
                #pizImgTop {
                    align-self: end;
                }
        
                #pizImgBtm {
                    align-self: start;
                }
        
                .pizImgRight {
                    grid-column: 2;
                    grid-row: 1 / 3;
                    align-self: center;
                    justify-self: start;
                }
            }

            /*Adjusts container so images do not overflow but cant remain large on a smaller screen*/
            @media only screen and (min-width: 1250px) {

                #chefContainer {
                    height: 80vh;
                }
            }
    
        }
    }
}