@media only screen and (min-width: 600px) {

    /***********CSS for Header***********/
    #topNav {

        #logoLink {
            
            #logo {
                width: 90px;
            }
        }

        /*Hamburger sizing and animation adjustment*/
        #hamburger {
            width: 80px;
            height: 12px;

            &::before, &::after {
                width: 80px;
                height: 12px;
                position: relative;
            }

            &:before {
                top: -22px;
            }

            &:after {
                top: 10px;
            }
        }
        
        #toggle:checked ~ label::before {
            transform: rotate(36deg)
        }    

        #toggle:checked ~ label::after {
            transform: rotate(-36deg)
        } 

        /*Screen Overlay postion adjustment and button sizing*/
        #overMenu {
            top: 20vh;
            left: 28vw;

            li {
                margin: 100px 0px; 
            }
     
            li a {
                 font-size: 4.5em;
                 padding: 70px;
     
                 /*after create white elements to act as hover buttons for a tags*/
                 &::after {
                     height: 80px;
                }
            } 
        }   
    }

    #phoneBox {
        height: 5vh;

        /*Makes phone number none clickable*/
        .phoneLink {
            pointer-events: none;
            font-size: 1.6em;
        }

    }

    /***********CSS for index.html***********/
    #mainHomePage {
        position: relative;
        top: 15vh;

        /*adjusts anchor points for scrollable buttons as top nav size has changed*/
        .anchorHidden {
            position: relative;
            bottom: 15vh;
            width: 10vw;
        }

        /*Changing size and postion of fonts and elements on main menu area*/
        #mainMenu {

            #socialIcons {
        
                a img {
                    width: 40px;
                    margin-right: 15px;
                }
            }

            h1 {
                font-size: 4.5em;
            }
        
            p {
                font-size: 2em;
            }

            #mainBtnsList {
                
                li a {
                    font-size: 1.6em;
                }
            }

            #pointDown {
                height: 15vh;
                bottom: 2vh;
            }
        }
    
        /*Adjust position and size of hours area. adds a photo into the empty space*/
        #hmHrs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 2fr;
            height: 25vh;
            padding-bottom: 0;
    
            /*adjusts positioning of anchor due to grid*/
            #anchorHrs {
                position: relative;
                bottom: 34vh;
            }
    
            h1 {
                grid-column: 1;
                grid-row: 1;
                width: 50vw;
                bottom: 0;
                font-size: 4em;
            }
    
            p {
                grid-column: 1;
                grid-row: 2 / 3;
                width: 50vw;
                font-size: 1.5em;
                left: 3vw;
                bottom: 0;
            }

            /*Adjusts the p position more centered once screen gets wider before PC bump*/
            @media only screen and (min-width: 900px) {
                   
                p {
                    left: 10vw;
                }
            }
    
            #wkEnds {
                position: relative;
                top: 4vh;
            }
    
            #patio {
                position: relative;
                top: 8vh;
            }
    
            /*Photo added here*/
            #hrsImg {
                display: inline-block;
                grid-column: 2;
                grid-row: 1 / 3;
                width: 50vw;
                height: 25vh;
                object-fit: cover;
                z-index: 2;
            }
        }
    
        #hmLoc {
    
            h1 {
                font-size: 4em;
            }

            #googleMap {
                height: 60vh;
            }
        }
    
        /*Changes font size of contact area. Also disallows phone number to be clickable*/
        #hmCon {
            
            h1 {
                font-size: 4em;
            }
    
            p {
                font-size: 2em;
            }
    
            a {
                font-size: 1.8em;
            }
    
            .phoneLink {
                pointer-events: none;
            }
    
            #socialContact {
                
                a img {
                    width: 40px;
                }
            }
        }
    
        /*Adjust size and position of image container elements*/
        #hmImg {
    
            h1 {
                font-size: 4em;
            }
    
            #vidIntro, #imgIntro {
                font-size: 1.9em;
            }  

            #imgGallery {

                @media only screen and (min-width: 750px) {
                    grid-template-columns: repeat(3, 1fr);

                    .galImgs {
                        height: 25vw;
                        width: 25vw;
                    }
                    
                }
            }

        }
    }

    /***********CSS for menu.html***********/
    
    /*Adjusts position and sizing of elements throughout menu page*/
    #mainMenuPage {
        top: 15vh;

        #mainMenu{
            padding-bottom: 0;

            #socialIcons {
        
                a img {
                    width: 40px;
                    margin-right: 15px;
                }
            }

            h1 {
                font-size: 4.5em;
            }
        
            p {
                font-size: 2em;
            }
            
            #mainBtnsList {

                li a {
                    font-size: 1.6em;
                }
            }
        }

        section {
            
            h1 {
                font-size: 4em;
            }

            h3 {
                font-size: 1.6em;
            }

            p {
                font-size: 1.5em;
            }

        }

        /*Sets cocktail image size and visibility*/
        #drinks {

            /*Adds padding to Vino h1 tag so it does not reposition from floating image*/
            #vinoTag{
                padding-top: 4vh;
            }

            .menuItemsImg {
                display: block;
                width: 220px;
                margin: 1vh 5vw 1vh 3vw;
                border-radius: 30px;
                float: left;
            }

            /*Sets a larger margin so text does not wrap underneath*/
            #wineImg {
                float: right;
                width: 260px;
                margin-top: 3vh;
            }

            #teaImg {
                width: 280px;
                margin-bottom: 4vh;
            }

            /*Resets position of back to top button in drinks list*/    
            #drinksTop {
                position: relative;
                left: 10vw;
            }
        }

        #food {

            .menuItemsImg {
                display: block;
                width: 220px;
                margin: 1vh 5vw 1vh 3vw;
                border-radius: 30px;
                float: right;
            }

            #appieImg{
                width: 300px
            }

            #pizzaMenuImgOne {
                width: 350px;
                margin-bottom: 1vh;
                float: left;
            }

            #pizzaMenuImgTwo {
                width: 350px;
                margin-bottom: 1vh;
            }

            #pastaMenuImg {
                width: 350px;
                margin-bottom: 1vh;
                float: left;
            }

            #entreeImg {
                width: 300px;
                margin-bottom: 5vh;
            }
            
            #foodTop {
                position: relative;
                left: 10vw;
            }
        }

        #desserts {

            .menuItemsImg {
                display: block;
                width: 300px;
                margin: 1vh 5vw 4vh 3vw;
                border-radius: 30px;
                float: left;
            }

            #dessertsTop {
                position: relative;
                left: 10vw;
            }
        }

    }

    /***********CSS for about.html***********/
    
    #mainAbout {
        position: relative;
        top: 15vh;

        #kneadLogoBtmPge {
            display: none;
        }

        #aboutUsArticle {
            
            #kneadLogoAbout {
                display: block;
                width: 220px;
                padding: 0 3vw 0 3vw;
                /*wraps image around text*/
                float: left;
            }

            /*style and position of in article photo*/
            #chefKnead {
                display: block;
                width: 400px;
                border-radius: 40px;
                padding: 2vh 3vw 2vh 3vw;
                float: right;
            }

            /*style and position of grid container photos*/
            #chefContainer {
                width: 100%;
                height: 50vh;
                display: grid;
                grid-template-rows: 50% 50%;
                grid-template-columns: 50% 50%;
                gap: 20px 20px;

                .chefPizza {
                    width: 40vw;
                    border-radius: 40px;
                }

                .pizImgLeft {
                    justify-self: end;
                }

                #pizImgTop {
                    align-self: end;
                }

                #pizImgBtm {
                    align-self: start;
                }

                /*keeps photos larger with smaller width screen, 
                width changes at wider screens so images do not overflow*/
                @media only screen and (max-width: 870px) {

                    .pizImgLeft {
                        width: 45vw;
                    }

                    .pizImgRight {
                        width: 45vw;
                    }
                }

                .pizImgRight {
                    grid-column: 2;
                    grid-row: 1 / 3;
                    align-self: center;
                    justify-self: start;
                }
            }

            h1 {
                font-size: 4em;
                text-align: center;
            }

            p {
                font-size: 1.9em;
            }
        }
    }

    /***********CSS for Footer***********/
    footer {

        #privPol{
            font-size: 1.9em;
        }

        #cpyRit {
            font-size: 1.4em;
        }

        .topBtn {

            .backTopBtn {
                font-size: 1.5em;
            }
        }
    }
}