@media only screen and (min-width: 600px) {

    /***********CSS for Header***********/
    #topNav {
        
        #logoLink {
            
            #logo {
                width: 90px;
            }
        }

        /*Hamburger sizing and animation adjustment*/
        #hamburger {
            width: 80px;
            height: 12px;

            &::before, &::after {
                width: 80px;
                height: 12px;
                position: relative;
            }

            &:before {
                top: -22px;
            }

            &:after {
                top: 10px;
            }
        }
        
        #toggle:checked ~ label::before {
            transform: rotate(36deg)
        }    

        #toggle:checked ~ label::after {
            transform: rotate(-36deg)
        } 

        /*Screen Overlay postion adjustment and button sizing*/
        #overMenu {
            top: 20vh;
            left: 28vw;

            li {
                margin: 100px 0px; 
            }
     
            li a {
                 font-size: 4.5em;
                 padding: 70px;
     
                 /*after create white elements to act as hover buttons for a tags*/
                 &::after {
                     height: 80px;
                }
            } 
        }   
    }

    #phoneBox {
        height: 5vh;

        /*Makes phone number none clickable*/
        .phoneLink {
            pointer-events: none;
            font-size: 1.6em;
            text-decoration: none;
        }

    }

    /***********CSS for index.html***********/
    #mainHomePage {
        position: relative;
        top: 15vh;

        /*adjusts anchor points for scrollable buttons as top nav size has changed*/
        .anchorHidden {
            position: relative;
            bottom: 15vh;
            width: 10vw;
        }

        /*Changing size and postion of fonts and elements on main menu area*/
        #mainMenu {

            #socialIcons {
        
                a img {
                    width: 40px;
                    margin-right: 15px;
                }
            }

            h1 {
                font-size: 4.5em;
            }
        
            p {
                font-size: 2em;
            }

            #mainBtnsList {
                
                li a {
                    font-size: 1.6em;
                }
            }

            #pointDown {
                height: 15vh;
                bottom: 10vh;
            }
        }
    
        /*Adjust position and size of hours area. adds a photo into the empty space*/
        #hmHrs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 2fr;
            height: 25vh;
            padding-bottom: 0;
    
            /*adjusts positioning of anchor due to grid*/
            #anchorHrs {
                position: relative;
                bottom: 38vh;
            }
    
            h1 {
                grid-column: 1;
                grid-row: 1;
                width: fit-content;
                bottom: 0;
                font-size: 4em;
            }
    
            p {
                grid-column: 1 / 3;
                grid-row: 2 / 3;
                width: fit-content;
                font-size: 1.5em;
                left: 3vw;
                bottom: 0;
            }

            /*Adjusts the p position more centered once screen gets wider before PC bump*/
            @media only screen and (min-width: 900px) {
                   
                p {
                    left: 10vw;
                }
            }
    
            #wkEnds {
                position: relative;
                top: 4vh;
            }
    
            #patio {
                position: relative;
                top: 8vh;
            }
    
            /*Photo added here*/
            #hrsImg {
                display: inline-block;
                grid-column: 2;
                grid-row: 1 / 3;
                width: 50vw;
                height: 25vh;
                object-fit: cover;
                z-index: 2;
            }
        }
    
        #hmLoc {
    
            h1 {
                font-size: 4em;
            }

            /*adjusts positioning of anchor due to screen and content setting*/
            #anchorLoc {
                position: relative;
                bottom: 15vh;
            }

            #locAdrs {
                font-size: 1.1em;
            }

            #googleMap {
                height: 60vh;
            }
        }
    
        /*Changes font size of contact area. Also disallows phone number to be clickable*/
        #hmCon {
            
            #anchorCon {
                bottom: 20vh;
            }
            
            h1 {
                font-size: 4em;
            }
    
            p {
                font-size: 2em;
            }
    
            a {
                font-size: 1.8em;
            }
    
            .phoneLink {
                pointer-events: none;
                text-decoration: none;
            }
    
            #socialContact {
                
                a img {
                    width: 40px;
                }
            }
        }
    
        /*Adjust size and position of image container elements*/
        #hmImg {
    
            h1 {
                font-size: 4em;
            }
    
            #vidIntro, #imgIntro {
                font-size: 1.9em;
            }  

            #imgGallery {

                @media only screen and (min-width: 750px) {
                    grid-template-columns: repeat(3, 1fr);

                    .galImgs {
                        height: 25vw;
                        width: 25vw;
                    }
                    
                }
            }

        }
    }

    /***********CSS for menu.html***********/
    
    /*Adjusts position and sizing of elements throughout menu page*/
    #mainMenuPage {
        top: 15vh;

        #mainMenu{
            padding-bottom: 0;

            #socialIcons {
        
                a img {
                    width: 40px;
                    margin-right: 15px;
                }
            }

            h1 {
                font-size: 4.5em;
            }
        
            p {
                font-size: 2em;
            }
            
            #mainBtnsList {

                li a {
                    font-size: 1.6em;
                }
            }
        }

        section {
            
            h1 {
                font-size: 4em;
            }

            h3 {
                font-size: 1.6em;
            }

            p {
                font-size: 1.5em;
            }

        }

        #drinks {

            /*Adds padding to Vino h1 tag so it does not reposition from floating image*/
            #vinoTag{
                padding-top: 4vh;
            }

            .menuItemsImg {
                display: block;
                width: 220px;
                margin: 1vh 5vw 1vh 3vw;
                border-radius: 30px;
                float: left;
            }

            /*Sets a larger margin so text does not wrap underneath*/
            #wineImg {
                float: right;
                width: 260px;
                margin-top: 3vh;
            }

            /*Only visible on desktop*/
            #beerImg, #landscapeDrinkImg {
                display: none;
            }

            #teaImg {
                width: 280px;
                margin-bottom: 4vh;
            }

            /*Resets position of back to top button in drinks list*/    
            #drinksTop {
                position: relative;
                left: 10vw;
            }
        }

        #food {

            .menuItemsImg {
                display: block;
                width: 220px;
                margin: 1vh 5vw 1vh 3vw;
                border-radius: 30px;
                float: right;
            }

            #appieImg{
                width: 300px;
            }

            #pizzaMenuImgOne {
                width: 350px;
                margin-bottom: 1vh;
                float: left;
            }

            #pizzaMenuImgTwo {
                width: 350px;
                margin-bottom: 1vh;
            }

            #pastaMenuImg {
                width: 350px;
                margin-bottom: 1vh;
                float: left;
            }

            #entreeImg {
                width: 300px;
                margin-bottom: 5vh;
            }
            
            #foodTop {
                position: relative;
                left: 10vw;
            }
        }

        #desserts {

            .menuItemsImg {
                display: block;
                width: 300px;
                margin: 1vh 5vw 4vh 3vw;
                border-radius: 30px;
                float: left;
            }

            #dessertsTop {
                position: relative;
                left: 10vw;
            }
        }

    }

    /***********CSS for about.html***********/

    /*keyframes need to be adjusted down to left: -1000% at 100% animation. 
    Since we now want 2 images on the screen at once, images will drop from 90vw
    to 40vw. This means we can cut the total width of the carousel container down 
    by 2x. from 2000% to 1000%. But we need to add the 3 extra starting images to compelete
    a smooth loop. Total width for container needs to be 1100%. There will only need 
    to be 10 transitions in the keyframes instead of 20 originally
    Since there are 20 photos and 2 photos per slide we must go up in incraments of 10% to reach the 2000% width*/
    @keyframes slider {
        0% {
            left: 0;
        }
        5% {
            left: 0;
        }
        10% {
            left: -100%;
        }
        15% {
            left: -100%;
        }
        20% {
            left: -200%;
        }
        25% { 
            left: -200%;
        }
        30% {
            left: -300%;
        }
        35% {
            left: -300%;
        }
        40% {
            left: -400%;
        }
        45% {
            left: -400%;
        }
        50% {
            left: -500%;
        }
        55% {
            left: -500%;
        }
        60% {
            left: -600%;
        }
        65% {
            left: -600%;
        }
        70% {
            left: -700%;
        }
        75% {
            left: -700%;
        }
        80% {
            left: -800%;
        }
        85% {
            left: -800%;
        }
        90% {
            left: -900%;
        }
        95% {
            left: -900%;
        }
        /* the extra 2% helps smooth final snap due to margins between photos*/
        100% {
            left: -1002%;
        }
    }

    /*Carousel positioning, sets width of viewable area and moves carousel to the center due to margin spacing between photos*/
    #imgCarousel {
        left: 7vw;
        width: 90vw;

        /*resets container width as images are smaller, changes animation speed to hold on page for longer*/
        #selfCont {
            width: 1200%;
            animation: 70s slider infinite;

            /*Sets image size and squares all images*/
            img {
                height: 40vw;
                width: 40vw;
                /*creates gap in images without breaking viewable area set in #imgCarousel*/
                margin-right: 5.1vw;
            }

            /*displays extra image required to fill loop illusion*/
            .tabCaruImg {
                display: inline-block;
            }
        }
    }
    
    #mainAbout {
        position: relative;
        top: 15vh;

        #aboutUsArticle {

            .pizImgStory {
                display: block;
                border-radius: 20px;
            }

            #pizImgPrep {
                float: left;
                width: 30vw;
                height: 30vw;
                max-width: 300px;
                max-height: 300px;
                object-fit: cover;
                margin: 0 4vw 0 4vw;
                position: relative;
                top: 2vh;
            }

            #pizImgCon {
                background-color: rgba(24, 24, 24, 0.753);
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;
                padding: 4vh 0 4vh 0;
                margin: 3vh 0 1vh 0;
                justify-items: center;
                align-items: center;

                #pizImgPrepDesk {
                    display: none;
                }

                .pizImgStory {
                    width: 40vw;
                    height: 30vw;
                    max-width: 700px;
                    max-height: 400px;
                    object-fit: cover;
                }
            }

            #pizImgFinalCon {
                
                #pizImgFinal {
                    width: 70vw;
                    height: 60vh;
                    max-width: 500px;
                    max-height: 400px;
                    object-fit: cover;
                }

                p {
                    font-size: 1.2em;
                }
            }

            h1 {
                font-size: 4em;
                text-align: center;
            }

            p {
                font-size: 1.9em;
            }
        }
    }

    /***********CSS for Footer***********/
    footer {

        #privPol{
            font-size: 1.9em;
        }

        #cpyRit {
            font-size: 1.4em;
        }

        .topBtn {

            .backTopBtn {
                font-size: 1.5em;
            }
        }
    }
}