main {
  position: relative;
  top: 13vh;
  display: grid;
  grid-template-rows: 80vh 20vh 80vh 20vh 190vh;
}

/*Adjusts anchor scroll due to fixed nav bar postiion*/
.anchorHidden {
  position: relative;
  bottom: 13vh;
  left: 5vw;
  width: 10vw;
  visibility: hidden;
}

/*Sets main menu/top div on page*/
#mainMenu {
  grid-row: 1;
  width: 100vw;
  text-align: end;
  display: grid;
  background: rgba(34, 34, 34, 0.5);
  grid-template-rows: 3fr 2fr 2fr 12fr 4fr;
  /*Css for links on main menu area*/
  /*Img animation on page load*/
  /*arrow down css and animation*/
}

#mainMenu #socialIcons {
  text-align: start;
  margin: 12px;
}

#mainMenu #socialIcons a img {
  width: 25px;
  margin-right: 5px;
}

#mainMenu h1 {
  grid-row: 2;
  position: relative;
  right: 8vw;
}

#mainMenu p {
  grid-row: 3;
  margin-left: 20vw;
  position: relative;
  right: 8vw;
}

#mainMenu #mainBtnsList {
  grid-row: 4;
  overflow-x: hidden;
}

#mainMenu #mainBtnsList li {
  position: relative;
  right: 8vw;
  margin-top: 2vh;
  padding: 2vh 0 2vh 0;
  text-align: center;
  list-style: none;
  border: 2px #dadada solid;
}

#mainMenu #mainBtnsList li a {
  text-decoration: none;
}

#mainMenu #mainBtnsList #mainLiHrs {
  margin-left: 55vw;
}

#mainMenu #mainBtnsList #mainAHrs {
  padding: 2vh 16vw 2vh 16vw;
}

#mainMenu #mainBtnsList #mainAHrs:active {
  background-color: rgba(0, 0, 0, 0.527);
}

#mainMenu #mainBtnsList #mainLiRes {
  margin-left: 60vw;
}

#mainMenu #mainBtnsList #mainARes {
  padding: 2vh 12vw 2vh 12vw;
}

#mainMenu #mainBtnsList #mainARes:active {
  background-color: rgba(0, 0, 0, 0.527);
}

#mainMenu #mainBtnsList #mainLiMen {
  margin-left: 65vw;
}

#mainMenu #mainBtnsList #mainAMen {
  padding: 2vh 11vw 2vh 11vw;
}

#mainMenu #mainBtnsList #mainAMen:active {
  background-color: rgba(0, 0, 0, 0.527);
}

#mainMenu #mainBtnsList #mainLiPla {
  margin-left: 70vw;
}

#mainMenu #mainBtnsList #mainAPla {
  padding: 2vh 2vw 2vh 2vw;
}

#mainMenu #mainBtnsList #mainAPla:active {
  background-color: rgba(0, 0, 0, 0.527);
}

@keyframes transitionIn {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

#mainMenu #pointDown {
  grid-row: 5;
  height: 12vh;
  position: relative;
  left: 10vw;
  bottom: 5vh;
  animation: transitionIn 2s ease-out;
}

/*Hours div*/
#hmHrs {
  grid-row: 2;
  background-color: rgba(128, 128, 128, 0.9);
}

#hmHrs h1 {
  position: relative;
  left: 3vw;
  width: 20vw;
}

#hmHrs p {
  position: relative;
  left: 10vw;
  top: 1vh;
  margin-top: 0.5vh;
  width: 80vw;
}

/*Location div*/
#hmLoc {
  grid-row: 3;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-rows: 1% 9% 90%;
}

#hmLoc #anchorLoc {
  grid-row: 1;
}

#hmLoc h1 {
  grid-row: 2;
  position: relative;
  top: 1vh;
  left: 3vw;
  width: 60vw;
}

#hmLoc #googleMap {
  grid-row: 3;
  justify-self: center;
  align-self: center;
  width: 90vw;
  height: 60vh;
}

/*Contact div*/
#hmCon {
  grid-row: 4;
  background-color: rgba(128, 128, 128, 0.7);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
}

#hmCon h1 {
  grid-area: 1 / 1;
  position: relative;
  left: 3vw;
  width: 35vw;
}

#hmCon p {
  text-decoration: underline;
}

#hmCon #phoneLabel {
  grid-area: 2 / 1;
  justify-self: center;
}

#hmCon #emailLabel {
  grid-area: 2 / 2;
  justify-self: center;
}

#hmCon #socialLabel {
  grid-area: 2 / 3;
  justify-self: center;
}

#hmCon a {
  text-decoration: none;
  font-size: 0.8em;
}

#hmCon #phoneBtn {
  grid-area: 3 / 1;
  justify-self: center;
}

#hmCon #mailBtn {
  grid-area: 3 / 2;
  justify-self: center;
}

#hmCon #socialContact {
  grid-area: 3 / 3;
  justify-self: center;
  text-align: center;
  width: 25vw;
}

#hmCon #socialContact a img {
  width: 20px;
  padding: 5%;
}

/*Images div*/
#hmImg {
  grid-row: 5;
  background: rgba(44, 44, 44, 0.8);
  display: grid;
  grid-template-rows: 10vh 5vh 40vh 5vh 170vh;
  overflow-y: scroll;
}

#hmImg h1 {
  position: relative;
  left: 3vw;
  width: 70vw;
}

#hmImg #vidIntro {
  grid-row: 2;
  justify-self: center;
  text-decoration: underline;
}

#hmImg #pizzaVid {
  grid-row: 3;
  width: 95vw;
  justify-self: center;
  max-width: 560px;
}

#hmImg #imgIntro {
  grid-row: 4;
  justify-self: center;
  align-self: center;
  text-decoration: underline;
}

#hmImg #imgGallery {
  grid-row: 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 0px;
  align-items: center;
  justify-items: center;
}

#hmImg #imgGallery .galImgs {
  height: 40vw;
  width: 40vw;
  max-width: 400px;
  max-height: 400px;
  /*object fit ensures the photos are all square*/
  object-fit: cover;
  border: 5px black solid;
}

#hmImg #imgGallery .groupOne {
  position: relative;
  left: 3vw;
}

#hmImg #imgGallery .groupTwo {
  position: relative;
  right: 3vw;
}
/*# sourceMappingURL=mainIndex.css.map */