main {
    position: relative;
    top: 13vh;
    display: grid;
    grid-template-rows: 80vh 20vh 80vh 20vh 190vh;
}

/*Adjusts anchor scroll due to fixed nav bar postiion*/
.anchorHidden {
    position: relative;
    bottom: 13vh;
    left: 5vw;
    width: 10vw;
    visibility: hidden;
}

/*Sets main menu/top div on page*/
#mainMenu {
    grid-row: 1;
    width: 100vw;
    text-align: end;
    display: grid;
    background:rgba(34, 34, 34, 0.5);
    grid-template-rows: 3fr 2fr 2fr 12fr 4fr;

    #socialIcons {
        text-align: start;
        margin: 12px;

        a img {
            width: 25px;
            margin-right: 5px;
        }
    }

    h1 {
        grid-row: 2;
        position: relative;
        right: 8vw;
    }

    p {
        grid-row: 3;
        margin-left: 20vw;
        position: relative;
        right: 8vw;
    }

    /*Css for links on main menu area*/
    #mainBtnsList {
        grid-row: 4;
        overflow-x: hidden;


        li {
            position: relative;
            right: 8vw;
            margin-top: 2vh;
            padding: 2vh 0 2vh 0;
            text-align: center;
            list-style: none;
            border: 2px #dadada solid;
        }

        li a {
            text-decoration: none;

        }

        #mainLiHrs {
            margin-left: 55vw;
        }

        #mainAHrs {
            padding: 2vh 16vw 2vh 16vw;

            &:active {
                background-color: rgba(0, 0, 0, 0.527);
            }
        }

        #mainLiRes {
            margin-left: 60vw;
        }

        #mainARes {
            padding: 2vh 12vw 2vh 12vw;

            &:active {
                background-color: rgba(0, 0, 0, 0.527);
            }
        }

        #mainLiMen {
            margin-left: 65vw;
        }

        #mainAMen {
            padding: 2vh 11vw 2vh 11vw;

            &:active {
                background-color: rgba(0, 0, 0, 0.527);
            }
        }

        #mainLiPla {
            margin-left: 70vw;
        }

        #mainAPla {
            padding: 2vh 2vw 2vh 2vw;

            &:active {
                background-color: rgba(0, 0, 0, 0.527);
            }
        }
    }

    /*Img animation on page load*/
    @keyframes transitionIn {
        from {
            transform: rotateZ(180deg)
        }

        to {
            transform: rotateZ(0deg);
        }
    }

    /*arrow down css and animation*/
    #pointDown {
        grid-row: 5;
        height: 12vh;
        position: relative;
        left: 10vw;
        bottom: 5vh;
        animation: transitionIn 2s ease-out;
    }
}

/*Hours div*/
#hmHrs {
    grid-row: 2;
    background-color: rgba(128, 128, 128, 0.9);

    h1 {
        position: relative;
        left: 3vw;
        width: 20vw;
    }

    p {
        position: relative;
        left: 10vw;
        top: 1vh;
        margin-top: 0.5vh;
        width: 80vw;
    }
}

/*Location div*/
#hmLoc {
    grid-row: 3;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-rows: 1% 9% 90%;

    #anchorLoc {
        grid-row: 1;
    }

    h1 {
        grid-row: 2;
        position: relative;
        top: 1vh;
        left: 3vw;
        width: 60vw;
    }

    #googleMap {
        grid-row: 3;
        justify-self: center;
        align-self: center;
        width: 90vw;
        height: 60vh;
    }
}

/*Contact div*/
#hmCon {
    grid-row: 4;
    background-color: rgba(128, 128, 128, 0.7);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    
    h1 {
        grid-area: 1 / 1;
        position: relative;
        left: 3vw;
        width: 35vw;
    }

    p {
        text-decoration: underline;
    }

    #phoneLabel {
        grid-area: 2 / 1;
        justify-self: center;
    }

    #emailLabel {
        grid-area: 2 / 2;
        justify-self: center;
    }

    #socialLabel {
        grid-area: 2 / 3;
        justify-self: center;
    }

    a {
        text-decoration: none;
        font-size: 0.8em;
    }

    #phoneBtn {
        grid-area: 3 / 1;
        justify-self: center;
    }

    #mailBtn {
        grid-area: 3 / 2;
        justify-self: center;
    }

    #socialContact {

        grid-area: 3 / 3;
        justify-self: center;
        text-align: center;
        width: 25vw;

        a img {
            width: 20px;
            padding: 5%;
        }
    }
}

/*Images div*/
#hmImg {
    grid-row: 5;
    background:rgba(44, 44, 44, 0.8);
    display: grid;
    grid-template-rows: 10vh 5vh 40vh 5vh 170vh;
    overflow-y: scroll;

    h1 {
        position: relative;
        left: 3vw;
        width: 70vw;
    }

    #vidIntro {
        grid-row: 2;
        justify-self: center;
        text-decoration: underline;
    }

    #pizzaVid{
        grid-row: 3;
        width: 95vw;
        justify-self: center;
        max-width: 560px;
    }

    #imgIntro {
        grid-row: 4;
        justify-self: center;
        align-self: center;
        text-decoration: underline;
    }

    #imgGallery {

        grid-row: 5;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 0px;
        align-items: center;
        justify-items: center;

        .galImgs {
            height: 40vw;
            width: 40vw;
            max-width: 400px;
            max-height: 400px;
            /*object fit ensures the photos are all square*/
            object-fit: cover;
            border: 5px black solid;
        }

        .groupOne {
            position: relative;
            left: 3vw;
        }

        .groupTwo {
            position: relative;
            right: 3vw;
        }
        
    }

}