body{ 
    overflow-x: hidden;
}

#mainMenuPage {
    position: relative;
    top: 13vh;
    display: grid;
    grid-template-rows: 70vh 155vh 220vh 55vh;
}

/*Nav scroll button postion*/
.anchorHidden {
    position: relative;
    bottom: 13vh;
    left: 5vw;
    width: 10vw;
    visibility: hidden;
}

/*styling and postion of back to top buttons*/
.backTopBtn {
    text-decoration: none;
    border: 3px #dadada solid;
    padding: 10px;
    position: relative;
    left: 60vw;
    top: 10vw;
}

.topBtn {
    width: 100%;
}

/*main top div*/
#mainMenu {
    grid-row: 1;
    width: 100vw;
    text-align: end;
    display: grid;
    background:rgba(34, 34, 34, 0.5);
    grid-template-rows: 3fr 2fr 2fr 12fr 4fr;

    #socialIcons {
        text-align: start;
        margin: 12px;

        a img {
            width: 25px;
            margin-right: 5px;
        }
    }

    h1 {
        grid-row: 2;
        position: relative;
        right: 8vw;
    }

    p {
        grid-row: 3;
        margin-left: 20vw;
        position: relative;
        right: 8vw;
    }

    /*Css for links on main menu area*/
    #mainBtnsList {
        grid-row: 4;

        li {
            position: relative;
            right: 8vw;
            margin-top: 3vh;
            padding: 2vh 0 2vh 0;
            text-align: center;
            list-style: none;
            border: 2px #dadada solid;
        }

        li a {
            text-decoration: none;
        }

        #mainLiDrinks {
            margin-left: 60vw;
        }

        #mainADrinks {
            padding: 2vh 12vw 2vh 12vw;

            &:active {
                background-color: rgba(0, 0, 0, 0.527);
            }
        }

        #mainLiFood {
            margin-left: 65vw;
        }

        #mainAFood {
            padding: 2vh 11vw 2vh 11vw;

            &:active {
                background-color: rgba(0, 0, 0, 0.527);
            }
        }

        #mainLiDeserts {
            margin-left: 70vw;
        }

        #mainADeserts {
            padding: 2vh 6vw 2vh 6vw;

            &:active {
                background-color: rgba(0, 0, 0, 0.527);
            }
        }
    }
}

/*Global style for all main divs*/
section {
    h3 {
        color: #f3f3f3;
    }

    p {
        margin-left: 7vw;
        font-size: smaller;
        font-style: italic;
    }

    h1 {
        padding-bottom: 2vh;
        padding-top: 2vh;
        margin-left: 3vw;
    }

    h3, p {
        margin-left: 5vw;
        margin-right: 3vw;
    }

    h3 {
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
}

/*Position and bg color for main content divs*/
#drinks {
    background:rgb(63, 63, 63);
    grid-row: 2;

    .menuItemsImg {
        display: none;
    }
}

#food {
    background:rgb(27, 27, 27);
    grid-row: 3;

    .menuItemsImg {
        display: none;
    }
}

#desserts {
    background:rgb(63, 63, 63);
    grid-row: 4;

    .menuItemsImg {
        display: none;
    }
}