@import '_variables.scss';

body{ 
    overflow-x: hidden;
}

#mainAbout {
    position: relative;
    top: 13vh;
}

/*animation for imgCarousel. Multiple animation percentages on single line
(ie: 0%, 3%) pauses the animation at its left position between the animation
percentage values. This allows for the images to sit still for a bit before
changing to next image. Also, first and last images in html are the same 
so once this animation reaches 100% at the last image and resets, 
the image is the same. This gives the illusion of continuous infinit loop.
Since there are 20 photos we must go up in increments of 5% to reach the 2000% width*/
@keyframes slider {
    0%, 3% {left: 0;}
    5%, 7% {left: -100%;}
    10%, 13% {left: -200%;}
    15%, 17% {left: -300%;}
    20%, 23% {left: -400%;}
    25%, 27% {left: -500%;}
    30%, 33% {left: -600%;}
    35%, 37% {left: -700%;}
    40%, 43% {left: -800%;}
    45%, 47% {left: -900%;}
    50%, 53% {left: -1000%;}
    55%, 57% {left: -1100%;}
    60%, 63% {left: -1200%;}
    65%, 67% {left: -1300%;}
    70%, 73% {left: -1400%;}
    75%, 77% {left: -1500%;}
    80%, 83% {left: -1600%;}
    85%, 87% {left: -1700%;}
    90%, 93% {left: -1800%;}
    95%, 97% {left: -1900%;}
    100% {left: -2000%;}
}

/*Carousel positioning*/
#imgCarousel {
    background-color: none;
    overflow: hidden;
    position: relative; 
    left: 5vw;
    width: 90vw;
    padding: 2vh 0 2vh 0;

    /*creates wide div area and sets image position start*/
    #selfCont {
        position: relative;
        left: 0;
        margin: 0;
        /*width is 100% higher to account for transition image to start at end of animation*/
        width: 2100%;
        animation: 120s slider infinite;

        /*Sets image size and squares all images*/
        img {
            height: 90vw;
            width: 90vw;
            object-fit: cover;
            /*float was used to ensure no edges of other images are 
            visible between transitions*/
            float: left;
            border-radius: 20px;
        }

        /*hides images only intended for the quad-carusel on desktop*/
        .deskCaruImg {
            display: none;
        }
    }
}

/*styling for the main content of about us*/
#aboutUsArticle {
    background-color: rgba(41, 41, 41, 0.658);
    padding-bottom: 2vh;

    .pizImgStory {
        display: none;
    }

    #pizImgCon {
        display: none;
    }

    #pizImgFinalCon {
        background-color: rgba(24, 24, 24, 0.753);
        display: grid;
        grid-template-rows: 6fr 1fr ;
        width: 100%;
        padding: 3vh 0 0 0;
        margin: 3vh 0 1vh 0;
        justify-items: center;
        align-items: center;

        #pizImgFinal {
            width: 90vw;
            border-radius: 20px;
        }

        p {
            font-size: 0.8em;
        }
    }

    h1, p {
        position: relative;
        top: 1vh;
        padding-left: 3vw;
        padding-right: 3vw;
        margin-bottom: 2vh;
    }

    #logoContainer {
        display: grid;
        justify-items: center;

        #kneadLogoBtmPge{
            width: 30vw;
            max-width: 150px;
            margin: 3vh 0 3vh 0;
        }
    }
}
