@import '_variables.scss';

body{ 
    overflow-x: hidden;
}

#mainMenuPage {
    position: relative;
    top: 13vh;
}

/*Nav scroll button postion*/
.anchorHidden {
    position: relative;
    bottom: 13vh;
    left: 5vw;
    width: 10vw;
    visibility: hidden;
}

/*styling and postion of back to top buttons*/
.topBtn {
    width: 100%;
    display: inline-block;
    position: relative;
    padding-top: 3vh;
    left: 62vw;

    .backTopBtn {
        text-decoration: none;
        border: 3px $siteWhite solid;
        padding: 10px;
    }
}

/*main top div*/
#mainMenu {
    width: 100vw;
    text-align: end;
    display: grid;
    background:rgba(34, 34, 34, 0.5);
    grid-template-rows: 1fr 1fr 1fr 4fr;
    padding-bottom: 5vh;

    #socialIcons {
        text-align: start;
        margin: 12px;
        height: fit-content;

        a img {
            width: 25px;
            margin-right: 5px;
        }
    }

    h1 {
        grid-row: 2;
        position: relative;
        right: 8vw;
    }

    p {
        grid-row: 3;
        margin-left: 20vw;
        position: relative;
        right: 8vw;
        font-size: 1.3em;
    }

    /*Css for links on main menu area*/
    #mainBtnsList {
        grid-row: 4;

        li {
            position: relative;
            right: 8vw;
            margin-top: 3vh;
            text-align: center;
            list-style: none;
            border: 2px $siteWhite solid;

            &:active {
                background-color: rgba(0, 0, 0, 0.527);
            }
        }

        li a {
            text-decoration: none;
        }

        #mainADrinks, #mainAFood, #mainADesserts {
            padding-top: 2vh;
            padding-bottom: 2vh;
            display: block;
        }

        #mainLiDrinks {
            margin-left: 60vw;
        }

        #mainLiFood {
            margin-left: 65vw;
        }

        #mainLiDesserts {
            margin-left: 70vw;
        }
    }

    #foodIntro {
        display: none;
    }
}

/*Global style for all main divs*/
section {
    h3 {
        color: #f3f3f3;
    }

    p {
        margin-left: 7vw;
        font-size: smaller;
        font-style: italic;
    }

    h1 {
        padding-bottom: 2vh;
        padding-top: 2vh;
        margin-left: 3vw;
    }

    h3, p {
        margin-left: 5vw;
        margin-right: 3vw;
    }

    h3 {
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
}

/*Position and bg color for main content divs*/
#drinks {
    background:rgb(63, 63, 63);
    padding-bottom: 5vh;

    .menuItemsImg {
        display: none;
    }
}

#food {
    background:rgb(27, 27, 27);
    padding-bottom: 5vh;

    .menuItemsImg {
        display: none;
    }
}

#desserts {
    background:rgb(63, 63, 63);
    padding-bottom: 5vh;

    .menuItemsImg {
        display: none;
    }
}