body {
  overflow-x: hidden;
}

#mainHomePage {
  position: relative;
  top: 13vh;
}

/*Adjusts anchor scroll due to fixed nav bar postiion*/
.anchorHidden {
  position: relative;
  bottom: 13vh;
  left: 5vw;
  width: 10vw;
  visibility: hidden;
}

/*Sets main menu/top div on page*/
#mainMenu {
  width: 100vw;
  text-align: end;
  display: grid;
  background: rgba(34, 34, 34, 0.5);
  grid-template-rows: 1fr 1fr 1fr 4fr 1.5fr;
  /*Css for links on main menu area*/
  /*Img animation on page load*/
  /*arrow down css and animation*/
}

#mainMenu #socialIcons {
  text-align: start;
  margin: 12px;
  height: fit-content;
}

#mainMenu #socialIcons a img {
  width: 25px;
  margin-right: 5px;
}

#mainMenu h1 {
  grid-row: 2;
  position: relative;
  right: 8vw;
}

#mainMenu p {
  grid-row: 3;
  margin-left: 20vw;
  position: relative;
  right: 8vw;
  font-size: 1.2em;
}

#mainMenu #mainVidContainer {
  display: none;
}

#mainMenu #mainBtnsList {
  grid-row: 4;
  /*li item only viewable from desktop*/
  /*sets padding on a-tag to fill parent element li*/
  /*sets width of li to have custom sizing*/
}

#mainMenu #mainBtnsList li {
  position: relative;
  right: 8vw;
  margin-top: 2vh;
  text-align: center;
  list-style: none;
  background-color: rgba(114, 114, 114, 0.37);
  border: 2px #dadada solid;
  border-radius: 8px;
  box-shadow: 3px 4px rgba(131, 124, 124, 0.781);
}

#mainMenu #mainBtnsList li:active {
  background-color: rgba(0, 0, 0, 0.527);
}

#mainMenu #mainBtnsList li a {
  text-decoration: none;
}

#mainMenu #mainBtnsList #mainLiCombo {
  display: none;
}

#mainMenu #mainBtnsList #mainAHrs, #mainMenu #mainBtnsList #mainARes, #mainMenu #mainBtnsList #mainAMen, #mainMenu #mainBtnsList #mainALoc, #mainMenu #mainBtnsList #mainACombo {
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: block;
}

#mainMenu #mainBtnsList #mainLiHrs {
  margin-left: 55vw;
}

#mainMenu #mainBtnsList #mainLiRes {
  margin-left: 60vw;
}

#mainMenu #mainBtnsList #mainLiMen {
  margin-left: 65vw;
}

#mainMenu #mainBtnsList #mainLiLoc {
  margin-left: 70vw;
}

@keyframes transitionIn {
  from {
    transform: rotateZ(180deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

#mainMenu #pointDown {
  grid-row: 5;
  height: 12vh;
  position: relative;
  left: 10vw;
  animation: transitionIn 2s ease-out;
}

/*Hours div*/
#hmHrs {
  background-color: rgba(128, 128, 128, 0.9);
  width: 100%;
  padding-bottom: 1vh;
  /*Tablet and desktop only*/
  /*display of hours for large screen when contact div is located beside*/
}

#hmHrs h1 {
  position: relative;
  left: 3vw;
  bottom: 1.5vh;
  width: fit-content;
}

#hmHrs p {
  position: relative;
  left: 10vw;
  bottom: 1vh;
  margin-top: 0.5vh;
  width: 90vw;
  height: fit-content;
}

#hmHrs #hrsImg {
  display: none;
}

#hmHrs #desktopScreenHrs {
  display: none;
}

/*Image for desktop version only*/
#centerDeskImg {
  display: none;
}

/*Location div*/
#hmLoc {
  grid-row: 3;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-rows: 1% 10% 89%;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5vh;
  /*smaller font size for h1 here when screen is very small to avoid overflow of grid item*/
  /*address and directions div*/
}

#hmLoc #anchorLoc {
  grid-row: 1;
}

#hmLoc h1 {
  grid-row: 2;
  position: relative;
  left: 3vw;
  width: fit-content;
}

@media only screen and (max-width: 380px) {
  #hmLoc h1 {
    font-size: 2.1em;
  }
}

#hmLoc #locAdrs {
  grid-area: 2 / 2;
  align-self: end;
  font-size: 0.8em;
  text-align: center;
  padding: 1vh 3vw 0 3vw;
}

#hmLoc #googleMap {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  justify-self: center;
  align-self: center;
  padding-top: 2vh;
  width: 90vw;
  height: 50vh;
}

#hmLoc #directLoc {
  display: none;
}

/*Contact div*/
#hmCon {
  background-color: rgba(90, 90, 90, 0.829);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

#hmCon #anchorCon {
  bottom: 16vh;
}

#hmCon h1 {
  grid-area: 1 / 1;
  position: relative;
  left: 3vw;
  width: fit-content;
}

#hmCon p {
  font-size: 1.4em;
  height: fit-content;
}

#hmCon #phoneLabel {
  grid-area: 2 / 1;
}

#hmCon #emailLabel {
  grid-area: 3 / 1;
}

#hmCon #socialLabel {
  grid-area: 4 / 1;
}

#hmCon a {
  font-size: 1.2em;
}

#hmCon #phoneBtn {
  grid-area: 2 / 2;
  justify-self: start;
}

#hmCon #phoneBtn:active {
  color: #2b2bff;
  transform: scale(1.1);
}

#hmCon #mailBtn {
  grid-area: 3 / 2;
  justify-self: start;
}

#hmCon #mailBtn:active {
  color: #2b2bff;
  transform: scale(1.1);
}

#hmCon #socialContact {
  grid-area: 4 / 2;
  justify-self: start;
  width: 60vw;
  position: relative;
  right: 3vw;
  /*Changes padding of social icons so tehy do not overflow into next line*/
}

#hmCon #socialContact a img {
  width: 30px;
  padding: 5%;
}

@media only screen and (max-width: 370px) {
  #hmCon #socialContact a img {
    padding: 3%;
  }
}

/*Images div*/
#hmImg {
  grid-row: 5;
  background: rgba(44, 44, 44, 0.8);
  /*no template, only used to center items*/
  display: grid;
  justify-items: center;
  padding-bottom: 5vh;
  /*sets positioning and grid of img gallery*/
}

#hmImg h1 {
  justify-self: start;
  position: relative;
  left: 3vw;
  width: 70vw;
}

#hmImg #vidIntro, #hmImg #imgIntro {
  font-size: 1.2em;
  padding: 2vh 0 2vh 0;
}

#hmImg #pizzaVid {
  width: 95vw;
  max-width: 560px;
  height: 315px;
}

#hmImg #imgGallery {
  display: grid;
  gap: 10px 0px;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  align-items: center;
  justify-items: center;
}

#hmImg #imgGallery .galImgs {
  height: 40vw;
  width: 40vw;
  border: 5px black solid;
  max-width: 400px;
  max-height: 400px;
  /*object fit ensures the photos are all square*/
  object-fit: cover;
}
/*# sourceMappingURL=mainIndex.css.map */