@import '_variables.scss';

* {
    margin: 0;
    padding: 0;
    font-family: $siteRegFont;
    color: $siteWhite;
}

@import '_header.scss';
@import '_hamburger.scss';

@import '_footer.scss';

@import '_scrnTablet.scss';
@import '_scrnPC.scss';

/*Smooths scroll when clicking anchor tags, eliminates horizontal scrolling*/
html {
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-family: $siteHeadFont;
    font-size: 2.5em;
    font-weight: lighter;
}

p {
    font-size: 1.1em;
}

body {
    background-image: url(/Media/italyblur.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/*Global CSS for all back to top buttons on site*/
.topBtn {

    .backTopBtn:active{
        background-color: rgba(15, 15, 15, 0.925);
    }

    /*background needs to be lighter here due to div background color*/
    #foodTop:active {
        background-color: rgb(83, 83, 83);
    }
}



