* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #dadada;
}

/*Smooths scroll when clicking anchor tags, eliminates horizontal scrolling*/
html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  font-weight: lighter;
}

p {
  font-size: 1.1em;
}

body {
  background-image: url(/Media/italyblur.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/*Global CSS for all back to top buttons on site*/
.topBtn {
  /*background needs to be lighter here due to div background color*/
}

.topBtn .backTopBtn:active {
  background-color: rgba(15, 15, 15, 0.925);
}

.topBtn #foodTop:active {
  background-color: #535353;
}

#topNav {
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: grid;
  z-index: 10;
  grid-template-columns: 1fr 2fr 1fr;
  box-shadow: 0 4px 4px -2px rgba(73, 73, 73, 0.767);
  /*social icons for desktop only*/
  /*Nav buttons for desktop only*/
}

@keyframes shakeLogo {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-1px, -2px) rotate(1deg);
  }
  40% {
    transform: translate(-2px, -1px) rotate(-1deg);
  }
  60% {
    transform: translate(2px, 1px) rotate(2deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 2px) rotate(-1deg);
  }
}

#topNav #logoLink {
  grid-column: 1;
  justify-self: start;
  align-self: center;
  position: relative;
  left: 2vw;
}

#topNav #logoLink #logo {
  width: 70px;
}

#topNav #logoLink:hover {
  animation: shakeLogo 0.3s;
}

#topNav #topNavSocial {
  display: none;
}

#topNav #headerNavBtns {
  display: none;
}

/*phone number div*/
#phoneBox {
  background-color: rgba(37, 37, 37, 0.863);
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 3vh;
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 3;
  box-shadow: 0 4px 4px -2px rgba(73, 73, 73, 0.767);
}

#phoneBox a:active, #phoneBox h2:active {
  color: #1212fc;
  transform: scale(1.1);
}

/*creates line for hamgburger, is the label for the toggle checkbox*/
#hamburger {
  width: 50px;
  height: 8px;
  grid-column: 3;
  justify-self: end;
  position: relative;
  right: 4vw;
  align-self: center;
  border-top: 8px transparent;
  border-bottom: 8px transparent;
  border-radius: 15px;
  background-color: #dadada;
  cursor: pointer;
  z-index: 5;
  /*creates top and bottom line for hamburger. also creates transition animation*/
  /*sets position and animation origin*/
  /*sets position and animation origin*/
}

#hamburger::before, #hamburger::after {
  content: '';
  width: 50px;
  height: 8px;
  background-color: #dadada;
  border-radius: 9px;
  grid-column: 3;
  display: block;
  position: relative;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1);
}

#hamburger::before {
  top: -16px;
  transform-origin: left top;
}

#hamburger::after {
  top: 8px;
  transform-origin: left bottom;
}

/*hides real checkbox*/
#toggle {
  display: none;
}

/*sets top color and roation position on click*/
#toggle:checked ~ label::before {
  background-color: #aa2323;
  transform: rotate(43deg);
}

/*sets bottom color and roation position on click*/
#toggle:checked ~ label::after {
  background-color: #aa2323;
  transform: rotate(-43deg);
}

/*hides center bar on click*/
#toggle:checked ~ label {
  background-color: transparent;
}

/*Delays center bar (label) animation to match rest of*/
#toggle ~ label {
  transition: all 0.6s cubic-bezier(1, 0, 0, 1);
}

/**********Overlay Menu styling below************/
/*sets position, size, and gradient of overlay*/
#smScrnOverlay {
  position: fixed;
  width: 200%;
  height: 200%;
  border-bottom-left-radius: 50%;
  background-image: linear-gradient(to right top, #aaa9a9, #7e8081, #6a6b6b, #2c2c2c, #000000);
  /*animation from top corner on click, transform:scale used as 0 will hide element and 1 will have it appear*/
  transform: scale(0);
  transform-origin: top right;
  transition: all 0.6s ease-out;
  z-index: 3;
  /*aligns list in overlay*/
}

#smScrnOverlay #overMenu {
  list-style: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 27vh;
  left: 26vw;
}

#smScrnOverlay #overMenu li {
  margin: 50px 0px;
}

#smScrnOverlay #overMenu li a {
  color: white;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 500;
  padding: 30px;
  /*this position sets sizing for button bars in the :after*/
  position: relative;
  /*after create white elements to act as hover buttons for a tags*/
  /*button press*/
}

#smScrnOverlay #overMenu li a::after {
  content: '';
  position: absolute;
  left: 0;
  height: 50px;
  width: 100%;
  background: transparent;
  border-radius: 50px;
  box-shadow: 1px 4px rgba(255, 250, 250, 0.514);
  z-index: -1;
}

#smScrnOverlay #overMenu li a:active:after {
  background-image: linear-gradient(to left bottom, #313131, #3e3e3f, #575a5a, #656867, #868685);
  box-shadow: none;
  transition: all 0.3s ease-out;
}

/*Make menu appear on hamburger click*/
#toggle:checked ~ #smScrnOverlay {
  transform: scale(1);
}

footer {
  position: relative;
  top: 13vh;
  width: 100vw;
  height: 13vh;
  background-color: #4b4a4a;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  /*Sets position of footer elements*/
  /*Sets top of page button*/
}

footer #privPol, footer #cpyRit {
  position: relative;
  left: 5vw;
}

footer #privPol {
  width: 50vw;
  grid-row: 2;
  bottom: 1vh;
}

footer #cpyRit {
  font-size: 0.8em;
  grid-row: 3;
  width: 80vw;
}

footer .topBtn {
  position: relative;
  left: 65vw;
  top: 5vh;
  width: 35vw;
}

footer .topBtn .backTopBtn {
  text-decoration: none;
  border: 3px #dadada solid;
  padding: 8px;
}

@media only screen and (min-width: 600px) {
  /***********CSS for Header***********/
  #topNav {
    /*Hamburger sizing and animation adjustment*/
    /*Screen Overlay postion adjustment and button sizing*/
  }
  #topNav #logoLink #logo {
    width: 90px;
  }
  #topNav #hamburger {
    width: 80px;
    height: 12px;
  }
  #topNav #hamburger::before, #topNav #hamburger::after {
    width: 80px;
    height: 12px;
    position: relative;
  }
  #topNav #hamburger:before {
    top: -22px;
  }
  #topNav #hamburger:after {
    top: 10px;
  }
  #topNav #toggle:checked ~ label::before {
    transform: rotate(36deg);
  }
  #topNav #toggle:checked ~ label::after {
    transform: rotate(-36deg);
  }
  #topNav #overMenu {
    top: 20vh;
    left: 28vw;
  }
  #topNav #overMenu li {
    margin: 100px 0px;
  }
  #topNav #overMenu li a {
    font-size: 4.5em;
    padding: 70px;
    /*after create white elements to act as hover buttons for a tags*/
  }
  #topNav #overMenu li a::after {
    height: 80px;
  }
  #phoneBox {
    height: 5vh;
    /*Makes phone number none clickable*/
  }
  #phoneBox .phoneLink {
    pointer-events: none;
    font-size: 1.6em;
    text-decoration: none;
  }
  /***********CSS for index.html***********/
  #mainHomePage {
    position: relative;
    top: 15vh;
    /*adjusts anchor points for scrollable buttons as top nav size has changed*/
    /*Changing size and postion of fonts and elements on main menu area*/
    /*Adjust position and size of hours area. adds a photo into the empty space*/
    /*Changes font size of contact area. Also disallows phone number to be clickable*/
    /*Adjust size and position of image container elements*/
  }
  #mainHomePage .anchorHidden {
    position: relative;
    bottom: 15vh;
    width: 10vw;
  }
  #mainHomePage #mainMenu #socialIcons a img {
    width: 40px;
    margin-right: 15px;
  }
  #mainHomePage #mainMenu h1 {
    font-size: 4.5em;
  }
  #mainHomePage #mainMenu p {
    font-size: 2em;
  }
  #mainHomePage #mainMenu #mainBtnsList li a {
    font-size: 1.6em;
  }
  #mainHomePage #mainMenu #pointDown {
    height: 15vh;
    bottom: 2vh;
  }
  #mainHomePage #hmHrs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    height: 25vh;
    padding-bottom: 0;
    /*adjusts positioning of anchor due to grid*/
    /*Adjusts the p position more centered once screen gets wider before PC bump*/
    /*Photo added here*/
  }
  #mainHomePage #hmHrs #anchorHrs {
    position: relative;
    bottom: 38vh;
  }
  #mainHomePage #hmHrs h1 {
    grid-column: 1;
    grid-row: 1;
    width: 50vw;
    bottom: 0;
    font-size: 4em;
  }
  #mainHomePage #hmHrs p {
    grid-column: 1;
    grid-row: 2 / 3;
    width: 50vw;
    font-size: 1.5em;
    left: 3vw;
    bottom: 0;
  }
}

@media only screen and (min-width: 600px) and (min-width: 900px) {
  #mainHomePage #hmHrs p {
    left: 10vw;
  }
}

@media only screen and (min-width: 600px) {
  #mainHomePage #hmHrs #wkEnds {
    position: relative;
    top: 4vh;
  }
  #mainHomePage #hmHrs #patio {
    position: relative;
    top: 8vh;
  }
  #mainHomePage #hmHrs #hrsImg {
    display: inline-block;
    grid-column: 2;
    grid-row: 1 / 3;
    width: 50vw;
    height: 25vh;
    object-fit: cover;
    z-index: 2;
  }
  #mainHomePage #hmLoc h1 {
    font-size: 4em;
  }
  #mainHomePage #hmLoc #googleMap {
    height: 60vh;
  }
  #mainHomePage #hmCon #anchorCon {
    bottom: 20vh;
  }
  #mainHomePage #hmCon h1 {
    font-size: 4em;
  }
  #mainHomePage #hmCon p {
    font-size: 2em;
  }
  #mainHomePage #hmCon a {
    font-size: 1.8em;
  }
  #mainHomePage #hmCon .phoneLink {
    pointer-events: none;
    text-decoration: none;
  }
  #mainHomePage #hmCon #socialContact a img {
    width: 40px;
  }
  #mainHomePage #hmImg h1 {
    font-size: 4em;
  }
  #mainHomePage #hmImg #vidIntro, #mainHomePage #hmImg #imgIntro {
    font-size: 1.9em;
  }
}

@media only screen and (min-width: 600px) and (min-width: 750px) {
  #mainHomePage #hmImg #imgGallery {
    grid-template-columns: repeat(3, 1fr);
  }
  #mainHomePage #hmImg #imgGallery .galImgs {
    height: 25vw;
    width: 25vw;
  }
}

@media only screen and (min-width: 600px) {
  /***********CSS for menu.html***********/
  /*Adjusts position and sizing of elements throughout menu page*/
  #mainMenuPage {
    top: 15vh;
  }
  #mainMenuPage #mainMenu {
    padding-bottom: 0;
  }
  #mainMenuPage #mainMenu #socialIcons a img {
    width: 40px;
    margin-right: 15px;
  }
  #mainMenuPage #mainMenu h1 {
    font-size: 4.5em;
  }
  #mainMenuPage #mainMenu p {
    font-size: 2em;
  }
  #mainMenuPage #mainMenu #mainBtnsList li a {
    font-size: 1.6em;
  }
  #mainMenuPage section h1 {
    font-size: 4em;
  }
  #mainMenuPage section h3 {
    font-size: 1.6em;
  }
  #mainMenuPage section p {
    font-size: 1.5em;
  }
  #mainMenuPage #drinks {
    /*Adds padding to Vino h1 tag so it does not reposition from floating image*/
    /*Sets a larger margin so text does not wrap underneath*/
    /*Only visible on desktop*/
    /*Resets position of back to top button in drinks list*/
  }
  #mainMenuPage #drinks #vinoTag {
    padding-top: 4vh;
  }
  #mainMenuPage #drinks .menuItemsImg {
    display: block;
    width: 220px;
    margin: 1vh 5vw 1vh 3vw;
    border-radius: 30px;
    float: left;
  }
  #mainMenuPage #drinks #wineImg {
    float: right;
    width: 260px;
    margin-top: 3vh;
  }
  #mainMenuPage #drinks #beerImg, #mainMenuPage #drinks #landscapeDrinkImg {
    display: none;
  }
  #mainMenuPage #drinks #teaImg {
    width: 280px;
    margin-bottom: 4vh;
  }
  #mainMenuPage #drinks #drinksTop {
    position: relative;
    left: 10vw;
  }
  #mainMenuPage #food .menuItemsImg {
    display: block;
    width: 220px;
    margin: 1vh 5vw 1vh 3vw;
    border-radius: 30px;
    float: right;
  }
  #mainMenuPage #food #appieImg {
    width: 300px;
  }
  #mainMenuPage #food #pizzaMenuImgOne {
    width: 350px;
    margin-bottom: 1vh;
    float: left;
  }
  #mainMenuPage #food #pizzaMenuImgTwo {
    width: 350px;
    margin-bottom: 1vh;
  }
  #mainMenuPage #food #pastaMenuImg {
    width: 350px;
    margin-bottom: 1vh;
    float: left;
  }
  #mainMenuPage #food #entreeImg {
    width: 300px;
    margin-bottom: 5vh;
  }
  #mainMenuPage #food #foodTop {
    position: relative;
    left: 10vw;
  }
  #mainMenuPage #desserts .menuItemsImg {
    display: block;
    width: 300px;
    margin: 1vh 5vw 4vh 3vw;
    border-radius: 30px;
    float: left;
  }
  #mainMenuPage #desserts #dessertsTop {
    position: relative;
    left: 10vw;
  }
  /***********CSS for about.html***********/
  /*keyframes need to be adjusted down to left: -1000% at 100% animation. 
    Since we now want 2 images on the screen at once, images will drop from 90vw
    to 40vw. This means we can cut the total width of the carousel container down 
    by 2x. from 2000% to 1000%. But we need to add the 3 extra starting images to compelete
    a smooth loop. Total width for container needs to be 1100%. There will only need 
    to be 10 transitions in the keyframes instead of 20 originally
    Since there are 20 photos and 2 photos per slide we must go up in incraments of 10% to reach the 2000% width*/
  @keyframes slider {
    0% {
      left: 0;
    }
    5% {
      left: 0;
    }
    10% {
      left: -100%;
    }
    15% {
      left: -100%;
    }
    20% {
      left: -200%;
    }
    25% {
      left: -200%;
    }
    30% {
      left: -300%;
    }
    35% {
      left: -300%;
    }
    40% {
      left: -400%;
    }
    45% {
      left: -400%;
    }
    50% {
      left: -500%;
    }
    55% {
      left: -500%;
    }
    60% {
      left: -600%;
    }
    65% {
      left: -600%;
    }
    70% {
      left: -700%;
    }
    75% {
      left: -700%;
    }
    80% {
      left: -800%;
    }
    85% {
      left: -800%;
    }
    90% {
      left: -900%;
    }
    95% {
      left: -900%;
    }
    /* the extra 2% helps smooth final snap due to margins between photos*/
    100% {
      left: -1002%;
    }
  }
  /*Carousel positioning, sets width of viewable area and moves carousel to the center due to margin spacing between photos*/
  #imgCarousel {
    left: 7vw;
    width: 90vw;
    /*resets container width as images are smaller, changes animation speed to hold on page for longer*/
  }
  #imgCarousel #selfCont {
    width: 1200%;
    animation: 20s slider infinite;
    /*Sets image size and squares all images*/
    /*displays extra image required to fill loop illusion*/
  }
  #imgCarousel #selfCont img {
    height: 40vw;
    width: 40vw;
    /*creates gap in images without breaking viewable area set in #imgCarousel*/
    margin-right: 5.1vw;
  }
  #imgCarousel #selfCont .tabCaruImg {
    display: inline-block;
  }
  #mainAbout {
    position: relative;
    top: 15vh;
  }
  #mainAbout #aboutUsArticle .pizImgStory {
    display: block;
    border-radius: 20px;
  }
  #mainAbout #aboutUsArticle #pizImgPrep {
    float: left;
    width: 30vw;
    height: 30vw;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    margin: 0 4vw 0 4vw;
    position: relative;
    top: 2vh;
  }
  #mainAbout #aboutUsArticle #pizImgCon {
    background-color: rgba(24, 24, 24, 0.753);
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 4vh 0 4vh 0;
    margin: 3vh 0 1vh 0;
    justify-items: center;
    align-items: center;
  }
  #mainAbout #aboutUsArticle #pizImgCon #pizImgPrepDesk {
    display: none;
  }
  #mainAbout #aboutUsArticle #pizImgCon .pizImgStory {
    width: 40vw;
    height: 30vw;
    max-width: 700px;
    max-height: 400px;
    object-fit: cover;
  }
  #mainAbout #aboutUsArticle #pizImgFinalCon #pizImgFinal {
    width: 70vw;
    height: 60vh;
    max-width: 500px;
    max-height: 400px;
    object-fit: cover;
  }
  #mainAbout #aboutUsArticle #pizImgFinalCon p {
    font-size: 1.2em;
  }
  #mainAbout #aboutUsArticle h1 {
    font-size: 4em;
    text-align: center;
  }
  #mainAbout #aboutUsArticle p {
    font-size: 1.9em;
  }
  /***********CSS for Footer***********/
  footer #privPol {
    font-size: 1.9em;
  }
  footer #cpyRit {
    font-size: 1.4em;
  }
  footer .topBtn .backTopBtn {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1100px) {
  /***********CSS for Header***********/
  #topNav {
    grid-template-columns: 2fr 4fr 5fr;
    /*hides mobile+tablet checkbox*/
    /*Sets nav bar navigation buttons*/
    /*sets size and location of new social icons*/
  }
  #topNav #toggle, #topNav #hamburger {
    display: none;
  }
  #topNav #logoLink {
    position: relative;
    right: 5vw;
  }
  #topNav #logoLink #logo {
    width: 100px;
  }
  #topNav #headerNavBtns {
    display: inline-block;
    overflow: hidden;
    grid-column: 3 / 10;
    align-self: center;
    justify-self: center;
    /*Allows visibility of entire button during animation*/
    overflow: visible;
    /*fixes button sizing to avoid overflow between 1100 and 1200px screen*/
  }
  #topNav #headerNavBtns .navBtns {
    margin-left: 1vw;
    text-align: center;
    border: 2px #dadada solid;
    height: fit-content;
  }
  #topNav #headerNavBtns .navBtns:hover {
    background-color: #474747;
  }
  #topNav #headerNavBtns a {
    text-decoration: none;
    font-size: 1.6em;
    /*Transform used to not affect overal layout of sibling elements*/
    transform: scale(1);
    transition: all 0.4s ease-out;
  }
  #topNav #headerNavBtns a:hover {
    transform: scale(1.1);
  }
  #topNav #headerNavBtns #homeNavBtn, #topNav #headerNavBtns #menuNavBtn {
    padding: 2vh 3vw 2vh 3vw;
    display: inline-block;
  }
  #topNav #headerNavBtns #aboutNavBtn {
    padding: 2vh 3vw 2vh 3vw;
    display: inline-block;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  #topNav #headerNavBtns #homeNavBtn, #topNav #headerNavBtns #menuNavBtn {
    padding: 2vh 2vw 2vh 2vw;
  }
  #topNav #headerNavBtns #aboutNavBtn {
    padding: 2vh 2vw 2vh 2vw;
  }
}

@media only screen and (min-width: 1100px) {
  #topNav #topNavSocial {
    display: inline-block;
    grid-column: 2;
    align-self: center;
  }
  #topNav #topNavSocial a img {
    margin-left: 40px;
    width: 50px;
    /*Transform used to not affect overal layout of sibling elements*/
    transform: scale(1);
    transition: all 0.3s ease-out;
  }
  #topNav #topNavSocial a img:hover {
    transform: scale(1.2);
  }
  #phoneBox {
    /*Makes phone number none clickable*/
  }
  #phoneBox .phoneLink {
    pointer-events: none;
  }
  /*Global CSS for all back to top buttons on site*/
  /*hover effect for all back to top buttons on menu page*/
  .topBtn {
    /*background needs to be lighter here due to div background color*/
  }
  .topBtn .backTopBtn:hover {
    background-color: #292929;
  }
  .topBtn #foodTop:hover {
    background-color: #3b3b3b;
  }
  /***********CSS for index.html***********/
  #mainHomePage {
    /*Re organizes grid to allow space for intro video*/
  }
  #mainHomePage #mainMenu {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr 1.5fr;
    /*allows fonts to flow into colum 1 to avoid grid height overflow
            issues between 1100 and 1200px screen due to increaded font*/
    /*re sizes buttons to keep similar style as mobile and tablet once grid was reset*/
  }
  #mainHomePage #mainMenu #socialIcons {
    display: none;
  }
  #mainHomePage #mainMenu h1 {
    grid-row: 1;
    grid-column: 2;
    font-size: 5.5em;
  }
  #mainHomePage #mainMenu p {
    grid-row: 2;
    grid-column: 1 / 3;
    font-size: 2.8em;
    margin-left: 30vw;
  }
  #mainHomePage #mainMenu #mainVidContainer {
    display: inline-block;
    grid-column: 1;
    grid-row: 3 / 5;
    justify-self: center;
    align-self: center;
    /*used to center items*/
    display: grid;
  }
  #mainHomePage #mainMenu #mainVidContainer #mainVidIntro {
    font-weight: normal;
    font-size: 1.8em;
    justify-self: center;
    padding-bottom: 3vh;
  }
  #mainHomePage #mainMenu #mainVidContainer #pizzaVid {
    width: 50vw;
    height: 315px;
    max-width: 560px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
  #mainHomePage #mainMenu h1, #mainHomePage #mainMenu p {
    grid-column: 1 / 3;
    justify-self: end;
  }
}

@media only screen and (min-width: 1100px) {
  #mainHomePage #mainMenu #mainBtnsList {
    grid-row: 3 / 5;
    grid-column: 2;
  }
  #mainHomePage #mainMenu #mainBtnsList #mainLiHrs {
    margin-left: 20vw;
  }
  #mainHomePage #mainMenu #mainBtnsList #mainLiRes {
    margin-left: 25vw;
  }
  #mainHomePage #mainMenu #mainBtnsList #mainLiMen {
    margin-left: 30vw;
  }
  #mainHomePage #mainMenu #mainBtnsList #mainLiLoc {
    margin-left: 35vw;
  }
  #mainHomePage #mainMenu #mainBtnsList li:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in;
  }
  #mainHomePage #mainMenu #mainBtnsList li:hover a:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
  }
  /**********CSS for menu.html**********/
  #mainMenuPage #mainMenu {
    grid-template-rows: 1fr 1fr 4fr;
    grid-template-columns: 1fr 1fr;
  }
  #mainMenuPage #mainMenu #socialIcons {
    display: none;
  }
  #mainMenuPage #mainMenu h1 {
    grid-row: 1;
    grid-column: 2;
    font-size: 5.5em;
    right: 16vw;
  }
  #mainMenuPage #mainMenu p {
    grid-row: 2;
    grid-column: 1 / 3;
    align-self: center;
    font-size: 2.8em;
    right: 16vw;
  }
  #mainMenuPage #mainMenu #mainBtnsList {
    grid-row: 3 / 4;
    grid-column: 2;
    width: 50vw;
    padding-bottom: 5vh;
  }
  #mainMenuPage #mainMenu #mainBtnsList li:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in;
  }
  #mainMenuPage #mainMenu #mainBtnsList li:hover a:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in;
  }
  #mainMenuPage #mainMenu #mainBtnsList #mainLiDrinks {
    margin-left: 25vw;
    right: 16vw;
  }
  #mainMenuPage #mainMenu #mainBtnsList #mainLiFood {
    margin-left: 30vw;
    right: 16vw;
  }
  #mainMenuPage #mainMenu #mainBtnsList #mainLiDesserts {
    margin-left: 35vw;
    right: 16vw;
  }
  #mainMenuPage #mainMenu #foodIntro {
    display: inline-block;
    grid-column: 1;
    grid-row: 3;
    font-size: 1.6em;
    text-align: start;
    position: relative;
    right: 10vw;
    bottom: 5vh;
    border-left: 8px #f81313b2 solid;
    border-radius: 50px;
    padding-left: 3vw;
    background-color: rgba(0, 0, 0, 0.39);
  }
  #mainMenuPage section h1 {
    font-size: 5em;
  }
  #mainMenuPage section h3 {
    font-size: 1.9em;
  }
  #mainMenuPage section p {
    font-size: 1.7em;
  }
  #mainMenuPage #drinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.6fr 1fr 0.1fr;
    /*repositions the anchor tag for navigation due to grid*/
    /*Resets position of back to top button in drinks list*/
  }
  #mainMenuPage #drinks #anchorDrink {
    grid-column: 1;
    grid-row: 1;
  }
  #mainMenuPage #drinks .menuItemsImg {
    width: 240px;
  }
  #mainMenuPage #drinks #cocktails {
    grid-column: 1;
    grid-row: 1;
  }
  #mainMenuPage #drinks #cocktails p {
    position: relative;
    left: 1vw;
  }
  #mainMenuPage #drinks #cocktails #cocktailImg {
    display: none;
  }
  #mainMenuPage #drinks #cocktails #landscapeDrinkImg {
    display: block;
    height: 10vw;
    width: 190%;
    margin: 4vh 0 0 2.5vw;
    border-radius: 12px;
    object-fit: cover;
  }
  #mainMenuPage #drinks #wineBeer {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  #mainMenuPage #drinks #wineBeer #vinoTag {
    padding-top: 2vh;
  }
  #mainMenuPage #drinks #wineBeer p {
    position: relative;
    left: 2vw;
  }
  #mainMenuPage #drinks #wineBeer #wineImg {
    display: none;
  }
  #mainMenuPage #drinks #wineBeer #beerImg {
    display: block;
    float: right;
    width: 55vw;
    height: 30vh;
    object-fit: cover;
  }
  #mainMenuPage #drinks #nonAlc {
    grid-column: 2;
    grid-row: 1;
  }
  #mainMenuPage #drinks #nonAlc #teaImg {
    display: none;
  }
  #mainMenuPage #drinks .topBtn {
    grid-column: 2;
    grid-row: 3;
    left: 23vw;
    justify-self: end;
    align-self: center;
  }
  #mainMenuPage #food {
    /*removes unnecessary white space at bottom*/
    padding-bottom: 0;
    /*creates some spacing between main food divs*/
  }
  #mainMenuPage #food #appies, #mainMenuPage #food #pizza, #mainMenuPage #food #pasta, #mainMenuPage #food #entrees {
    padding-bottom: 7vh;
  }
  #mainMenuPage #food #appieImg {
    position: relative;
    bottom: 10vh;
    width: 30vw;
    height: 50vh;
    object-fit: cover;
  }
  #mainMenuPage #food #pizzaMenuImgOne {
    width: 30vw;
  }
  #mainMenuPage #food #pizzaMenuImgTwo {
    width: 23vw;
    height: 50vh;
    object-fit: cover;
  }
  #mainMenuPage #food #pastaMenuImg {
    width: 25vw;
  }
  #mainMenuPage #food #entreeImg {
    width: 35vw;
    height: 30vh;
    object-fit: cover;
  }
  #mainMenuPage #food #foodTop {
    position: relative;
    left: 21vw;
    bottom: 5vh;
  }
  #mainMenuPage #desserts {
    padding: 0;
  }
  #mainMenuPage #desserts .menuItemsImg {
    width: 20vw;
    height: 40vh;
    object-fit: cover;
  }
  #mainMenuPage #desserts #dessertsTop {
    position: relative;
    left: 21vw;
    bottom: 6vh;
  }
  /**********CSS for about.html**********/
  #mainAbout {
    /*keyframes need to be adjusted down to left: -500% at 100% animation. 
        Since we now want 4 images on the screen at once, images will drop from 90vw
        to 20vw. This means we can cut the total width of the carousel container down 
        by 4x. from 2000% to 500%. But we need to add the 3 extra starting images to compelete
        a smooth loop. Total width for container needs to be 800%. There will only need 
        to be 5 transitions in the keyframes instead of 20 originally or 10 on tablet*/
    /*Carousel positioning*/
  }
  @keyframes slider {
    0% {
      left: 0;
    }
    10% {
      left: 0;
    }
    20% {
      left: -100%;
    }
    30% {
      left: -100%;
    }
    40% {
      left: -200%;
    }
    50% {
      left: -200%;
    }
    60% {
      left: -300%;
    }
    70% {
      left: -300%;
    }
    80% {
      left: -400%;
    }
    90% {
      left: -400%;
    }
    /* the extra 2% helps smooth final snap due to margins between photos*/
    100% {
      left: -502%;
    }
  }
  #mainAbout #imgCarousel {
    width: 90vw;
    left: 5vw;
    /*resets container width as images are smaller, changes animation speed to hold on page for longer*/
  }
  #mainAbout #imgCarousel #selfCont {
    width: 800%;
    animation: 50s slider infinite;
    /*Sets image size and squares all images*/
  }
  #mainAbout #imgCarousel #selfCont img {
    height: 20vw;
    width: 20vw;
    /*creates gap in images without breaking viewable area set at #imgCarousel*/
    margin-right: 2.6vw;
  }
  #mainAbout #imgCarousel #selfCont .deskCaruImg {
    display: inline-block;
  }
  #mainAbout #aboutUsArticle p {
    text-align: center;
  }
  #mainAbout #aboutUsArticle #pizImgPrep {
    display: none;
  }
  #mainAbout #aboutUsArticle #pizImgCon {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #mainAbout #aboutUsArticle #pizImgCon #pizImgPrepDesk {
    display: inline-block;
  }
  #mainAbout #aboutUsArticle #pizImgCon .pizImgStory {
    width: 30vw;
    height: 30vw;
    max-width: 700px;
    max-height: 400px;
    object-fit: cover;
  }
}
/*# sourceMappingURL=site.css.map */