* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #dadada;
}

/*Smooths scroll when clicking anchor tags, eliminates horizontal scrolling*/
html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  font-weight: lighter;
}

p {
  font-size: 1.1em;
}

body {
  background-image: url(/Media/italyblur.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#topNav {
  background-color: black;
  position: fixed;
  width: 100vw;
  height: 10vh;
  display: grid;
  z-index: 10;
  grid-template-columns: 7fr 10fr repeat(4, 2fr) 3fr 3fr;
  box-shadow: 0 4px 4px -2px rgba(73, 73, 73, 0.767);
}

@keyframes shakeLogo {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-1px, -2px) rotate(1deg);
  }
  40% {
    transform: translate(-2px, -1px) rotate(-1deg);
  }
  60% {
    transform: translate(2px, 1px) rotate(2deg);
  }
  80% {
    transform: translate(-2px, -2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, 2px) rotate(-1deg);
  }
}

#logoLink {
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

#logoLink #logo {
  width: 70px;
}

#logoLink:hover {
  animation: shakeLogo 0.3s;
}

/*phone number div*/
#phoneBox {
  background-color: rgba(37, 37, 37, 0.863);
  position: fixed;
  top: 10vh;
  width: 100vw;
  height: 3vh;
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 3;
  box-shadow: 0 4px 4px -2px rgba(73, 73, 73, 0.767);
}

#phoneBox a {
  text-decoration: none;
}

/*creates line for hamgburger, is the label for the toggle checkbox*/
#hamburger {
  width: 50px;
  height: 8px;
  grid-column: 7;
  justify-self: start;
  align-self: center;
  border-top: 8px transparent;
  border-bottom: 8px transparent;
  border-radius: 15px;
  background-color: #dadada;
  cursor: pointer;
  z-index: 5;
  /*creates top and bottom line for hamburger. also creates transition animation*/
  /*sets position and animation origin*/
  /*sets position and animation origin*/
}

#hamburger::before, #hamburger::after {
  content: '';
  width: 50px;
  height: 8px;
  background-color: #dadada;
  border-radius: 9px;
  grid-column: 7;
  display: block;
  position: relative;
  transition: all 0.6s cubic-bezier(1, 0, 0, 1);
}

#hamburger::before {
  top: -16px;
  transform-origin: left top;
}

#hamburger::after {
  top: 8px;
  transform-origin: left bottom;
}

/*hides real checkbox*/
#toggle {
  visibility: hidden;
}

/*sets top color and roation position on click*/
#toggle:checked ~ label::before {
  background-color: #aa2323;
  transform: rotate(43deg);
}

/*sets bottom color and roation position on click*/
#toggle:checked ~ label::after {
  background-color: #aa2323;
  transform: rotate(-43deg);
}

/*hides center bar on click*/
#toggle:checked ~ label {
  background-color: transparent;
}

/*Delays center bar (label) animation to match rest of*/
#toggle ~ label {
  transition: all 0.6s cubic-bezier(1, 0, 0, 1);
}

/**********Overlay Menu styling below************/
/*sets position, size, and gradient of overlay*/
#smScrnOverlay {
  position: fixed;
  width: 200%;
  height: 200%;
  border-bottom-left-radius: 50%;
  background-image: linear-gradient(to right top, #aaa9a9, #7e8081, #6a6b6b, #2c2c2c, #000000);
  /*animation from top corner on click*/
  transform: scale(0);
  transform-origin: top right;
  transition: all 0.6s ease-out;
  z-index: 3;
  /*aligns list in overlay*/
}

#smScrnOverlay #overMenu {
  list-style: none;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 27vh;
  left: 26vw;
}

#smScrnOverlay #overMenu li {
  margin: 50px 0px;
}

#smScrnOverlay #overMenu li a {
  color: white;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 500;
  padding: 30px;
  /*this position sets sizing for button bars in the :after*/
  position: relative;
  /*after create white elements to act as hover buttons for a tags*/
  /*button press*/
}

#smScrnOverlay #overMenu li a::after {
  content: '';
  position: absolute;
  left: 0;
  height: 50px;
  width: 100%;
  background: transparent;
  border-radius: 50px;
  box-shadow: 1px 4px rgba(255, 250, 250, 0.514);
  z-index: -1;
}

#smScrnOverlay #overMenu li a:active:after {
  background-image: linear-gradient(to left bottom, #313131, #3e3e3f, #575a5a, #656867, #868685);
  box-shadow: none;
  transition: all 0.3s ease-out;
}

/*Make menu appear on hamburger click*/
#toggle:checked ~ #smScrnOverlay {
  transform: scale(1);
}

footer {
  position: relative;
  top: 13vh;
  width: 100vw;
  height: 13vh;
  background-color: #4b4a4a;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  /*Sets position of footer elements*/
  /*Sets top of page button*/
}

footer #privPol, footer #cpyRit {
  position: relative;
  left: 5vw;
}

footer #privPol {
  width: 50vw;
  grid-row: 2;
  bottom: 1vh;
}

footer #cpyRit {
  font-size: 0.8em;
  grid-row: 3;
  width: 80vw;
}

footer .topBtn {
  position: relative;
  left: 65vw;
  top: 5vh;
  width: 35vw;
}

footer .topBtn .backTopBtn {
  text-decoration: none;
  border: 3px #dadada solid;
  padding: 8px;
}

@media only screen and (min-width: 600px) {
  /***********CSS for Header***********/
  #topNav {
    /*Hamburger sizing and animation adjustment*/
    /*Screen Overlay postion adjustment and button sizing*/
  }
  #topNav #logoLink #logo {
    width: 90px;
  }
  #topNav #hamburger {
    width: 80px;
    height: 12px;
  }
  #topNav #hamburger::before, #topNav #hamburger::after {
    width: 80px;
    height: 12px;
    position: relative;
  }
  #topNav #hamburger:before {
    top: -22px;
  }
  #topNav #hamburger:after {
    top: 10px;
  }
  #topNav #toggle:checked ~ label::before {
    transform: rotate(36deg);
  }
  #topNav #toggle:checked ~ label::after {
    transform: rotate(-36deg);
  }
  #topNav #overMenu {
    top: 20vh;
    left: 28vw;
  }
  #topNav #overMenu li {
    margin: 100px 0px;
  }
  #topNav #overMenu li a {
    font-size: 4.5em;
    padding: 70px;
    /*after create white elements to act as hover buttons for a tags*/
  }
  #topNav #overMenu li a::after {
    height: 80px;
  }
  #phoneBox {
    height: 5vh;
    /*Makes phone number none clickable*/
  }
  #phoneBox .phoneLink {
    pointer-events: none;
    font-size: 1.6em;
  }
  /***********CSS for index.html***********/
  #mainHomePage {
    position: relative;
    top: 15vh;
    /*adjusts anchor points for scrollable buttons as top nav size has changed*/
    /*Changing size and postion of fonts and elements on main menu area*/
    /*Adjust position and size of hours area. adds a photo into the empty space*/
    /*Changes font size of contact area. Also disallows phone number to be clickable*/
    /*Adjust size and position of image container elements*/
  }
  #mainHomePage .anchorHidden {
    position: relative;
    bottom: 15vh;
    width: 10vw;
  }
  #mainHomePage #mainMenu #socialIcons a img {
    width: 40px;
    margin-right: 15px;
  }
  #mainHomePage #mainMenu h1 {
    font-size: 4.5em;
  }
  #mainHomePage #mainMenu p {
    font-size: 1.8em;
  }
  #mainHomePage #mainMenu #mainBtnsList li a {
    font-size: 1.6em;
  }
  #mainHomePage #mainMenu #mainBtnsList #mainAHrs {
    padding: 2vh 17vw 2vh 17vw;
  }
  #mainHomePage #mainMenu #mainBtnsList #mainARes {
    padding: 2vh 13vw 2vh 13vw;
  }
  #mainHomePage #mainMenu #mainBtnsList #mainAMen {
    padding: 2vh 12vw 2vh 12vw;
  }
  #mainHomePage #mainMenu #mainBtnsList #mainALoc {
    padding: 2vh 8vw 2vh 8vw;
  }
  #mainHomePage #mainMenu #pointDown {
    height: 15vh;
  }
  #mainHomePage #hmHrs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    /*adjusts positioning of anchor due to grid*/
    /*Photo added here*/
  }
  #mainHomePage #hmHrs #anchorHrs {
    position: relative;
    bottom: 34vh;
  }
  #mainHomePage #hmHrs h1 {
    grid-column: 1;
    grid-row: 1;
    width: 50vw;
    font-size: 4em;
  }
  #mainHomePage #hmHrs p {
    grid-column: 1;
    grid-row: 2;
    width: 50vw;
    font-size: 1.5em;
    left: 10%;
    top: 0;
  }
  #mainHomePage #hmHrs #wkEnds {
    position: relative;
    top: 4vh;
  }
  #mainHomePage #hmHrs #patio {
    position: relative;
    top: 8vh;
  }
  #mainHomePage #hmHrs #hrsImg {
    display: inline-block;
    grid-column: 2;
    grid-row: 1 / 3;
    width: 50vw;
    height: 20vh;
    object-fit: cover;
    z-index: 2;
  }
  #mainHomePage #hmLoc h1 {
    font-size: 4em;
  }
  #mainHomePage #hmCon h1 {
    font-size: 4em;
  }
  #mainHomePage #hmCon p {
    font-size: 1.9em;
  }
  #mainHomePage #hmCon a {
    font-size: 1.2em;
  }
  #mainHomePage #hmCon .phoneLink {
    pointer-events: none;
  }
  #mainHomePage #hmCon #socialContact a img {
    width: 30px;
    padding: 1%;
  }
  #mainHomePage #hmImg h1 {
    font-size: 4em;
  }
  #mainHomePage #hmImg #vidIntro, #mainHomePage #hmImg #imgIntro {
    font-size: 1.9em;
  }
  #mainHomePage #hmImg #pizzaVid {
    position: relative;
    top: 5vh;
  }
  #mainHomePage #hmImg #imgGallery {
    padding-bottom: 5%;
  }
  /***********CSS for menu.html***********/
  /*Adjusts position and sizing of elements throughout menu page*/
  #mainMenuPage {
    position: relative;
    top: 15vh;
    grid-template-rows: 70vh 195vh 295vh 65vh;
    /*Sets cocktail image size and visibility*/
  }
  #mainMenuPage #mainMenu #socialIcons a img {
    width: 40px;
    margin-right: 15px;
  }
  #mainMenuPage #mainMenu h1 {
    font-size: 4.5em;
  }
  #mainMenuPage #mainMenu p {
    font-size: 1.8em;
  }
  #mainMenuPage #mainMenu #mainBtnsList li a {
    font-size: 1.6em;
  }
  #mainMenuPage #mainMenu #mainBtnsList #mainADrinks {
    padding: 2vh 14vw 2vh 14vw;
  }
  #mainMenuPage #mainMenu #mainBtnsList #mainAFood {
    padding: 2vh 13vw 2vh 13vw;
  }
  #mainMenuPage #mainMenu #mainBtnsList #mainADeserts {
    padding: 2vh 8vw 2vh 8vw;
  }
  #mainMenuPage section h1 {
    font-size: 4em;
  }
  #mainMenuPage section h3 {
    font-size: 1.6em;
  }
  #mainMenuPage section p {
    font-size: 1.5em;
  }
  #mainMenuPage #drinks {
    /*Adds padding to Vino h1 tag so it does not reposition from floating image*/
    /*Sets a larger margin so text does not wrap underneath*/
    /*Resets position of back to top button in drinks list*/
  }
  #mainMenuPage #drinks #vinoTag {
    padding-top: 4vh;
  }
  #mainMenuPage #drinks .menuItemsImg {
    display: block;
    width: 220px;
    margin: 1vh 5vw 1vh 3vw;
    border-radius: 30px;
    float: left;
  }
  #mainMenuPage #drinks #wineImg {
    float: right;
    width: 260px;
    margin-top: 3vh;
  }
  #mainMenuPage #drinks #teaImg {
    width: 280px;
    margin-bottom: 4vh;
  }
  #mainMenuPage #drinks #drinksTop {
    position: relative;
    left: 30vw;
  }
  #mainMenuPage #food .menuItemsImg {
    display: block;
    width: 220px;
    margin: 1vh 5vw 1vh 3vw;
    border-radius: 30px;
    float: right;
  }
  #mainMenuPage #food #appieImg {
    width: 300px;
  }
  #mainMenuPage #food #pizzaMenuImgOne {
    width: 350px;
    margin-bottom: 1vh;
    float: left;
  }
  #mainMenuPage #food #pizzaMenuImgTwo {
    width: 350px;
    margin-bottom: 1vh;
  }
  #mainMenuPage #food #pastaMenuImg {
    width: 350px;
    margin-bottom: 1vh;
    float: left;
  }
  #mainMenuPage #food #entreeImg {
    width: 300px;
    margin-bottom: 5vh;
  }
  #mainMenuPage #food #foodTop {
    position: relative;
    top: 5vh;
    left: 75vw;
  }
  #mainMenuPage #desserts .menuItemsImg {
    display: block;
    width: 300px;
    margin: 1vh 5vw 4vh 3vw;
    border-radius: 30px;
    float: left;
  }
  #mainMenuPage #desserts #dessertsTop {
    position: relative;
    top: 5vh;
    left: 75vw;
  }
  /***********CSS for about.html***********/
  #mainAbout {
    position: relative;
    top: 15vh;
    grid-template-rows: 72vh 220vh;
  }
  #mainAbout #kneadLogoBtmPge {
    display: none;
  }
  #mainAbout #aboutUsArticle {
    overflow-y: scroll;
  }
  #mainAbout #aboutUsArticle #kneadLogoAbout {
    display: block;
    width: 220px;
    padding: 0 3vw 0 3vw;
    /*wraps image around text*/
    float: left;
  }
  #mainAbout #aboutUsArticle #chefKnead {
    display: block;
    width: 400px;
    padding: 2vh 3vw 2vh 3vw;
    float: right;
  }
  #mainAbout #aboutUsArticle #chefContainer {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
  #mainAbout #aboutUsArticle #chefContainer .chefPizza {
    width: 40vw;
  }
  #mainAbout #aboutUsArticle #chefContainer .pizImgleft {
    padding: 2vh 0 0 2vw;
  }
  #mainAbout #aboutUsArticle h1 {
    font-size: 4em;
    text-align: center;
  }
  #mainAbout #aboutUsArticle p {
    font-size: 1.9em;
  }
  /***********CSS for Footer***********/
  footer #privPol {
    font-size: 1.9em;
  }
  footer #cpyRit {
    font-size: 1.4em;
  }
  footer .topBtn .backTopBtn {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1100px) {
  /*hides mobile+tablet checkbox*/
  #toggle, #hamburger {
    display: none;
  }
  /*Makes phone number none clickable*/
  .phoneLink {
    pointer-events: none;
  }
}
/*# sourceMappingURL=site.css.map */