* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #dadada;
}

/*Smooths scroll when clicking anchor tags, eliminates horizontal scrolling*/
html {
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    font-weight: lighter;
}

p {
    font-size: 1.1em;
}

body {
    background-image: url(/Media/italyblur.jpg);
    background-size: cover;
    background-attachment: fixed;
}

@import '_header.scss';

@import '_footer.scss';

@import '_scrnMobile.scss';
@import '_scrnTablet.scss';
@import '_scrnPC.scss';
